		/*------------------------------------------------------------------------*\
  ^BEGIN OUR OWN STYLE HERE
\*------------------------------------------------------------------------*/
#footer-bottom-logo {
  width: 20%;
}

.home-tab-features > .nav-tabs > li {
  height: 80px;
}

.container, .header-container {
  margin: auto;
  max-width: 990px;
  padding: 0 15px; }

#body-content {
  border: 0; }
/*------------------------------------------------------------------------*\
  ^GA CONTENT SPECIFIC STYLES
\*------------------------------------------------------------------------*/
.img-align-left {
  float: left;
  margin: 5px 10px 10px;
}
.img-caption-right {
  float: right;
  margin: 0 0 1em 1em;
  padding: 0;
}
.img-caption-left {
  float: left;
  margin: 0 1em 1em 0;
  padding: 0;
  overflow: auto;
  width: auto;
}
.img-caption-right p, .img-caption-left p, .img-caption-centre p, .img-caption {
  font-size: 0.875em;
  font-style: italic;
  line-height: normal;
  margin: 1em 0;
  padding: 0;
}

.clear {
  clear: left;
}
#main-content ul.img-gallery li {
  display: inline;
  float: left;
  list-style: none outside none;
  margin: 0.6em;
  min-height: 200px;
  width: 200px;
}
#main-content ul.img-gallery li:before {
  content: "" !important;
}
.img-gallery img {
  height: 150px;
  width: 200px;
}
.img-align-right {
  float: right;
  margin: 0 0 1em 1em;
}
/*------------------------------------------------------------------------*\
  ^UTILITY
\*------------------------------------------------------------------------*/
.desktop-only {
  display: inline !important;
}

.mobile-only {
  display: none !important;
}
/*------------------------------------------------------------------------*\
  ^GRID
\*------------------------------------------------------------------------*/
.col-lg-width-auto { width: auto; }
.col-lg-1-2 { width: 50%; }
.col-lg-1-3 { width: 33.3333333333%; }
.col-lg-2-3 { width: 66.66667%; }
.col-lg-1-5 { width: 20%; }
.col-lg-2-5 { width: 40%; }
.col-lg-3-5 { width: 60%; }
.col-lg-4-5 { width: 80%; }
.col-lg-1-4 { width: 25%; }
.col-lg-3-4 { width: 75%; }
/*------------------------------------------------------------------------*\
  ^HEADER + FOOTER
\*------------------------------------------------------------------------*/
.header-top { display: block; }
/*---------------------------*\
  ^HEADER
\*---------------------------*/
#header-main-logo {
  height: 100%;
  padding-left: 0;
  padding-right: 0;
  width: 19%;
}
#header-main-logo img { width: 140px; }
#header-main-desc {
  font-size: 18px;
  font-weight: 500;
  height: 100%;
  margin-top: 30px;
  width: 78%; }
#header-main-desc span {
  position: relative; }
#header-main-nav {
  margin-top: 18px;
  width: 80%;
  position: relative !important;
  max-height: none !important;}
#header-main-nav .nav-pills {
  background-color: #ffffff;
  margin-top: 12px;
  position: relative;}
#header-main-nav .nav-pills > li {
  border: 0;
  margin-left: 35px;
  padding-bottom: 10px;
  width: auto;
  z-index: 10; }
#header-main-nav .nav-pills > li > a {
  color: #2f2f2f;
  margin: 0;
  padding: 0 20px 0 0; }
#header-main-nav .nav-pills > li.home {
  margin-left: 0 !important; }
#header-main-nav .nav-pills > li.home > a {
  padding: 0; }
#header-main-nav .nav-pills > li.home > a img {
  padding-bottom: 7px; }
#header-main-nav .nav-pills > li.has-children > a {
  background: transparent url("http://www.ga.gov.au/__data/assets/image/0005/16799/main-nav.png?v=0.1.1") no-repeat 100% 45%; }
#header-main-nav .nav-pills li:hover {
  background-color: transparent; }
.js #header-main-nav {
  position: relative;
}
/*---------------------------*\
  ^TOP HEADER
\*---------------------------*/
.header-nav {
  margin-top: 5px;
  margin-bottom: 0;
}

.header-nav a {
  color: #2f2f2f;
  font-size: 11px;
  font-weight: 300;
}

.header-links,
.header-font-resizer,
.header-social-media { width: auto; }

.header-font-resizer { margin-right: 20px; }

.header-links li {
  margin-bottom: 2px;
  margin-right: 20px;
  margin-top: 5px;
}

/*---------------------------*\
  ^DRILLDOWN
\*---------------------------*/
.drilldown-back { display: none; }
.drilldown-sub { display: block; }

/*---------------------------*\
  ^MEGAMENU
\*---------------------------*/
#header-main-nav li:hover .megamenu, #header-main-nav li.keyboardTrigger .megamenu {
  display: block;
  opacity: 1;
  visibility: visible;
  overflow: visible;       
  -webkit-transition-delay: 500ms;
          transition-delay: 500ms;
}

/*---------------------------*\
  ^DRILLDOWN/MEGAMENU
\*---------------------------*/
.megamenu {
  left: 0;
  margin-top: 5px;
  padding: 15px 0 25px;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  overflow: hidden; }
.megamenu .container {
  padding: 0 15px; }
.megamenu h2 {
  border: 0; }
.megamenu h2, .megamenu h3, .megamenu span.heading {
  margin-left: 0;
  margin-right: 0; }
.megamenu h3, .megamenu span.heading {
  margin-bottom: 15px; }
.megamenu .block-group {
  margin: -10px; }
.megamenu a.block {
  border: 0;
  padding: 10px;
  width: 20%; }
.megamenu a.block h3 {
  background: none; }
.megamenu .subtitle {
  background-color: transparent;
  border-top: solid 2px #1f7b92;
  font-size: 13px;
  font-weight: 700;
  margin-top: 15px;
  margin-bottom: 10px;
  padding: 10px 0; }

.megamenu a.block:hover {
  background-color: #19788F;
}
.megamenu a.block:hover p {
  color: #fff;
}
/*---------------------------*\
  ^RESPONSIVE NAV
\*---------------------------*/
#header-responsive {
  display: none; }
/*---------------------------*\
  ^SEARCH (GLOBAL)
\*---------------------------*/
.search {
  display: block !important;
  position: relative !important;
  z-index: 9000;
  overflow: hidden; }
.search .form-group-search-query {
  margin-right: 0.3%;
  width: 60.7%; }
.search .form-group-search-topics {
  margin-right: 0.3%;
  width: 22.2%; }
.search .form-group-search-button {
  width: 16.5%; }
.search .btn img, .search .btn span {
  margin-top: 2px; }    
.search .btn img {
  margin-bottom: 8px !important;
  width: 20px; }
.search .btn,
.search .form-control,
.search .form-control-select {
  height: 55px;
  font-size: 18px;
  margin: 0; }
.search-homepage {
  top: -50px; }
.search-homepage .container {
  padding: 20px; }
/*---------------------------*\
  ^SEARCH SUBPAGES
\*---------------------------*/
.search-subpage {
  background-color: #006983;
  width: 100%;
  z-index: 1290; }
.search-subpage .container {
  padding: 20px 15px;
  max-width: 990px; }
.search-subpage .form-control {
  padding: 12px; }
.search-border-container {
  background: transparent url("http://www.ga.gov.au/__data/assets/image/0011/16796/lo.jpg?v=0.3.3") repeat-y 85% 0;
  border-top: solid 2px #fff;
  border-bottom: solid 2px #fff;
  height: 20px;
  margin: auto;
  max-width: 960px; }
.search-border-subpage {
  background-position: 68% 0; }

/*---------------------------*\
  ^LINE
\*---------------------------*/
.mobile-line-container { display: none; }

/*---------------------------*\
  ^FOOTER
\*---------------------------*/
.footer-global { padding-bottom: 25px; }
.footer-global h3 { margin-bottom: 10px; }
.footer-global .nav li { width: auto; }

#footer-main-quicklinks,
#footer-main-socialmedia,
#footer-main-address {
  border: 0;
  padding-bottom: 25px;
}

#footer-bottom-logo { padding-top: 5px; }
#footer-bottom-nav li { margin-right: 25px; }
#footer-bottom-nav a { font-size: 12px; }
/*------------------------------------------------------------------------*\
  ^UI (BUTTONS, ICONS, HEADINGS)
\*------------------------------------------------------------------------*/
/*---------------------------*\
  ^HEADINGS
\*---------------------------*/
.subpage h1,
.subpage .h1,
.main-content h1 {
  font-size: 32px;
  padding: 20px 0;
}
.subpage .subtitle {
  font-size: 24px; }
/*------------------------------------------------------------------------*\
  ^PAGE (TWO COLUMNS LAYOUT)
\*------------------------------------------------------------------------*/
.js .tinynav {
  display: none; }
.js .l_tinynav1 {
  display: block; }
/*---------------------------*\
  ^GRID DEFAULT PADDING ON SUBPAGE
\*---------------------------*/
.subpage > .block-group {
  margin: -20px 0 0 -20px; }
.subpage > .block-group > .block {
  padding: 20px 0 0 20px; }
/*---------------------------*\
  ^LEFT HANDNAV + CONTENT
\*---------------------------*/
.two-columns-page-content {
  border-left: dotted 1px #D8D8D8;
  padding-left: 20px; }
/*---------------------------*\
  ^LEFT HANDNAV
\*---------------------------*/
.two-columns-page-nav #left-nav-toggle {
  display: none; }
.two-columns-page-nav .nav-heading {
  border-top: solid 2px #006983;
  border-bottom: solid 2px #006983;
  margin: 0;
  padding: 15px 0; }
.two-columns-page-nav > .nav > li {
  border-bottom: dotted 1px #D8D8D8; }
.two-columns-page-nav .parent-active > .nav,
.two-columns-page-nav .child-active > .nav {
  padding-left: 20px !important; }
.two-columns-page-nav .parent-active > a {
  background-color: #006983;
  color: #FFF; }
.two-columns-page-nav .parent-active > a:hover {
  background-color: #006983; }
.two-columns-page-nav li {
  line-height: 0;
  margin-bottom: 0; }
.two-columns-page-nav a {
  line-height: 19px;
  padding: 10px !important; }
.two-columns-page-nav li:before {
  content: "" !important; }
.two-columns-page-nav .child-active > a {
  color: #FFF; }

#left-nav span.icon-arrow {
  float: left;
  width: 10%;
}

#left-nav span.active {
  float: left;
  width: 90%;
}

#left-nav .icon-arrow:before {
  font-family: "ga-fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1;
  content: '\f107';/* down arrow */
}

#left-nav .parent-active .icon-arrow:before {
  content: '\f106';/* down arrow */
}
/*---------------------------*\
  ^RIGHT HANDNAV + CONTENT
\*---------------------------*/
.subpage-right .two-columns-page-content {
  border-left: 0;
  padding-left: 0;
  padding-right: 20px;
  width: 80%; }
.subpage-right .two-columns-page-nav {
  border-left: dotted 1px #D8D8D8;
  width: 20%; }
/*------------------------------------------------------------------------*\
  ^PAGE SPECIFIC
\*------------------------------------------------------------------------*/
/*---------------------------*\
  ^HOME
\*---------------------------*/
.homepage-slide-text-left {
  text-align: left;
}
.homepage-slide-text-right {
  text-align: right;
}
.homepage-slide-color-transparent {
  background-color: none;
}
.homepage-slide-color-black {
  background: url("http://www.ga.gov.au/__data/assets/image/0006/18168/bg-slider-trans-ie.png?v=0.1.1") repeat;
  padding: 0 30px;
  display: inline-block;
}
.homepage-slide-color-black.homepage-slide-text-right {
  float: right;
}
.home-features {
  margin: 0 -10px -10px;
  padding-top: 20px; }
  .home-features > .block {
    padding: 0 10px;
    width: 50%; }
.home-tab-features {
  margin-top: -30px; }
.home-tab-features .nav-tabs > li > a {
  font-size: 18px;
  padding: 20px 25px; }
.home-tab-features .tab-content .block-group {
  margin: 0 20px -25px 10px; }
.home-tab-features .tab-content .block-group .block {
  padding: 10px; }

.header-social-media li {
  margin-bottom: 0;
}
  .header-social-media li img {
    width: 25px;
  }

.home-feature-earthquake .odd,
.home-twitter-feed {
  clear: left;
}

.search-results-content {
  border-right: 1px dotted #d8d8d8;
}
/*---------------------------*\
  ^HOME TAB SPRITES
\*---------------------------*/
.home-tab-features-sprites {
  float: left;
  margin-right: 10px;
}
/*---------------------------*\
  ^HOME 4 COLUMNS
\*---------------------------*/
.home-feature-earthquake .block-group {
  margin: -10px; }
.home-feature-earthquake .block {
  padding: 10px;
  width: 50%; }
.carousel-container {
  padding: 0;
  position: relative;
  max-width: 960px;
}
#homepage-carousel {
  height: 350px;
  overflow: hidden;
  margin: auto;
  width: 1280px;
  max-width: 100%; }
#homepage-carousel .carousel-caption {
  font-size: 18px;
  padding: 25px 0;
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  max-width: 990px;
  width: 100%; }
#homepage-carousel .carousel-caption h2, #homepage-carousel .carousel-caption .main-title {
  font-size: 48px;
  line-height: normal; }
#homepage-carousel .carousel-caption .pre-title {
  padding-top: 30px; }
#homepage-carousel .carousel-indicators {
  top: 265px; }
#homepage-carousel .carousel-indicators li {
  height: 15px;
  width: 15px;
  margin: -2px 10px; }
#homepage-carousel .carousel-inner {
  overflow: visible;
  width: 1280px;
  margin: auto;
  max-width: 100%;
}
.carousel-inner > .item > img {
  position: absolute !important;
}
/*---------------------------*\
  ^SCIENTIFIC / (4 columns layout)
\*---------------------------*/
.content-grid-scientific .btn-default {
  position: absolute;
  bottom: 10px;
  width: 92%; }
/*---------------------------*\
  ^ARTICLE MEDIA PAGE
\*---------------------------*/
.articles .article {
  margin: 20px 0; }
.articles .article > .pull-left {
  float: left !important;
  margin-right: 20px; }

.secondary-landing-media > a {
  width: 100px;
}
/*------------------------------------------------------------------------*\
  TABLET (MEDIUM SIZE DEVICE)
\*------------------------------------------------------------------------*/
@media screen and (max-width: 900px) {
  .container {
    padding: 0 15px; } }
.megamenu a p {
  display: block;
}
.two-columns-page-nav a:hover {
  background: #003145;
  color: white;
}
  .two-columns-page-nav a:focus {
    background: #003145;
    color: white;
  }
.nav-heading {
  display: block;
}
.nav-tabs > li {
  height: 100px;
}
/*------------------------------------------------------------------------*\
  TABLET (MEDIUM SIZE DEVICE) for NAV
\*------------------------------------------------------------------------*/
@media screen and (max-width: 830px) {
  .header-container {
    padding: 0;
  }
  #header-main-desc,
  #header-main-logo {
    width: auto;
  }
  #header-main-logo {
    max-width: 200px;
    padding: 10px 25px;
  }
  #header-responsive {
    display: block;
  }
  .js #header-main-nav {
    clip: rect(0px, 0px, 0px, 0px);
    display: block;
    max-height: 0;
  }
    #header-main-nav {
      margin: 0;
      width: 100%;
    }
 
  .js #header-main-nav {
    position: absolute !important;
  }
  #header-main-nav.opened {
    position: relative !important;
  }
  #header-main-nav .nav-pills {
    margin: 0;
    background-color: #006983
  }
  #header-main-nav .nav-pills > li {
    border-bottom: 1px solid #33879C;
    padding: 0;
    margin: 0;
    width: 100%;
  }
  #header-main-nav .nav-pills > li > a {
    background: transparent url("http://www.ga.gov.au/__data/assets/image/0010/16795/right-arrow.png") no-repeat scroll 100% 50% !important;
    color: #FFFFFF;
    margin-right: 25px;
    padding: 12px 20px !important;
  }
  #header-main-nav .nav-pills > li.home .mobile-only {
    display: block !important;
  }
  #header-main-nav .nav-pills > li.home .desktop-only {
    display: none !important;
  }
  .megamenu a.block {
    border-bottom: 1px solid #33879C;
    margin: 0;
    padding: 15px 20px;
    width: 100%;
  }
  .megamenu a.block h3 {
    background: transparent url("./?16795") no-repeat scroll 100% 50% !important;
    margin: 0;
  }
  .megamenu,
  .megamenu .container {
    margin: 0 auto;
    padding: 0;
  }
  .megamenu h3, .megamenu span.heading,
  .megamenu .block-group {
    margin: 0;
  }
  .megamenu a p {
    display: none;
  }
  #header-main-nav .nav-pills {
    position: absolute;
  }
  #header-main-nav li:hover,
  #header-main-nav a:hover {
    background-color: #a33f1f !important;
  }
  #header-main-nav li:hover .megamenu {
    display: none;
  }
  .drilldown-sub {
    display: none;
  }
  .drilldown-root {
    visibility: visible;
    opacity: 1;
  }
  .drilldown-back {
    display: block;
  }
  #header-responsive-search { display: none; }

  #footer-main-contact-numbers .btn { min-width: 180px; }
  #footer-bottom-nav li { margin-right: 20px; }
}

.water-table-gallery li {
  height: 272px;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
  height: 410px;
}