		@charset "UTF-8";
/*!
Pure v0.5.0
Copyright 2014 Yahoo! Inc. All rights reserved.
Licensed under the BSD License.
https://github.com/yui/pure/blob/master/LICENSE.md
*/
/*!
normalize.css v1.1.3 | MIT License | git.io/normalize
Copyright (c) Nicolas Gallagher and Jonathan Neal
*/
/*! normalize.css v1.1.3 | MIT License | git.io/normalize */article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}audio,canvas,video{display:inline-block;*display:inline;*zoom:1}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-size:100%;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}html,button,input,select,textarea{font-family:sans-serif}body{margin:0}a:focus{outline:thin dotted}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:700}blockquote{margin:1em 40px}dfn{font-style:italic}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}mark{border: 1px solid #006983;display: block;padding: 0.4em;background-color: #ededed;color: #000; }p,pre{margin:1em 0}code,kbd,pre,samp{font-family:monospace,serif;_font-family:'courier new',monospace;font-size:1em}pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}q{quotes:none}q:before,q:after{content:'';content:none}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}dl,menu,ol,ul{margin:1em 0}dd{margin:0 0 0 40px}menu,ol,ul{padding:0 0 0 40px}nav ul,nav ol{list-style:none;list-style-image:none}img{border:0;-ms-interpolation-mode:bicubic}svg:not(:root){overflow:hidden}figure{margin:0}form{margin:0}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0;white-space:normal;*margin-left:-7px}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle}button,input{line-height:normal}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;*overflow:visible}button[disabled],html input[disabled]{cursor:default}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;*height:13px;*width:13px}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}[hidden]{display:none!important}.pure-img{max-width:100%;height:auto;display:block}
@media print {
  * {
    text-shadow: none !important;
    color: #000 !important;
    background: transparent !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; }

  select {
    background: #fff !important; }

  .navbar {
    display: none; }

  .table td,
  .table th {
    background-color: #fff !important; }

  .btn > .caret,
  .dropup > .btn > .caret {
    border-top-color: #000 !important; }

  .label {
    border: 1px solid #000; }

  .table {
    border-collapse: collapse !important; }

  .table-bordered th,
  .table-bordered td {
    border: 1px solid #ddd !important; } }
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  -webkit-tap-highlight-color: transparent; }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.813em;
  line-height: 1.53846;
  color: #2f2f2f;
  background-color: white; }

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

a {
  color: #006983;
  text-decoration: none; }
  a:hover, a:focus {
    color: #006983;
    text-decoration: underline; }
  a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }

figure {
  margin: 0; }

img {
  vertical-align: middle; }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

.img-rounded {
  border-radius: 0; }

.img-thumbnail {
  padding: 4px;
  line-height: 1.53846;
  background-color: white;
  border: 1px solid #dddddd;
  border-radius: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto; }

.img-circle {
  border-radius: 50%; }

hr {
  margin-top: 1px;
  margin-bottom: 1px;
  border: 0;
  border-top: 1px solid #eeeeee; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: inherit;
  line-height: normal;
  color: inherit; }
  h1 small,
  h1 .small, h2 small,
  h2 .small, h3 small,
  h3 .small, h4 small,
  h4 .small, h5 small,
  h5 .small, h6 small,
  h6 .small,
  .h1 small,
  .h1 .small, .h2 small,
  .h2 .small, .h3 small,
  .h3 .small, .h4 small,
  .h4 .small, .h5 small,
  .h5 .small, .h6 small,
  .h6 .small {
    font-weight: normal;
    line-height: 1;
    color: #999999; }

h1 small,
h1 .small, .h1 small,
.h1 .small,
h2 small,
h2 .small, .h2 small,
.h2 .small,
h3 small,
h3 .small, .h3 small,
.h3 .small {
  font-size: 65%; }

h4 small,
h4 .small, .h4 small,
.h4 .small,
h5 small,
h5 .small, .h5 small,
.h5 .small,
h6 small,
h6 .small, .h6 small,
.h6 .small {
  font-size: 75%; }

h1,
h2,
h3 {
  margin-top: 19px;
  margin-bottom: 19px; }

h4,
h5,
h6 {
  margin-top: 9.5px;
  margin-bottom: 9.5px; }

h1, .h1 {
  color: #2F2F2F;
  font-size: 48px;
  font-weight: normal; }

h2, .h2 {
  color: #5E6A71;
  font-size: 32px;
  font-weight: normal; }

h3, .h3 {
  color: #2F2F2F;
  font-size: 18px;
  font-weight: normal; }

h4, .h4 {
  color: #5E6A71;
  font-size: 18px;
  font-weight: 500; }

h5, .h5 {
  color: #006983;
  font-size: 15px;
  font-weight: normal; }

h6, .h6 {
  color: #2F2F2F;
  font-size: 11px;
  font-weight: normal; }

p {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  margin: 0 0 19px;
  line-height: 21px; }

small,
.small {
  font-size: 85%; }

cite {
  font-style: normal; }

mark,
.mark {
    border: 1px solid #006983;
    display: block;
    padding: 0.4em;
    background-color: #ededed;
    color: #000; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.text-justify {
  text-align: justify; }

.text-muted {
  color: #999999; }

.text-primary {
  color: #006983; }

a.text-primary:hover {
  color: #004050; }

.text-success {
  color: #3c763d; }

a.text-success:hover {
  color: #2b542c; }

.text-info {
  color: #31708f; }

a.text-info:hover {
  color: #245269; }

.text-warning {
  color: #8a6d3b; }

a.text-warning:hover {
  color: #66512c; }

.text-danger {
  color: #a94442; }

a.text-danger:hover {
  color: #843534; }

.bg-primary {
  color: #fff; }

.bg-primary {

  background-color: #006983; }

a.bg-primary:hover {
  background-color: #004050; }

.bg-success {
  background-color: #dff0d8; }

a.bg-success:hover {
  background-color: #c1e2b3; }

.bg-info {
  background-color: #d9edf7; }

a.bg-info:hover {
  background-color: #afd9ee; }

.bg-warning {
  background-color: #fcf8e3; }

a.bg-warning:hover {
  background-color: #f7ecb5; }

.bg-danger {
  background-color: #f2dede; }

a.bg-danger:hover {
  background-color: #e4b9b9; }

/*
.page-header {
  padding-bottom: (($line-height-computed / 2) - 1);
  margin: ($line-height-computed * 2) 0 $line-height-computed;
  border-bottom: 1px solid $page-header-border-color;
}
*/
ul,
ol {
  margin-top: 0;
  margin-bottom: 19px; }
  ul li,
  ol li {
    margin-bottom: 9.5px; }
  ul ul,
  ul ol,
  ol ul,
  ol ol {
    margin-bottom: 0; }

.list-unstyled, .list-inline {
  padding-left: 0;
  list-style: none; }

.list-inline {
  margin-left: -5px; }
  .list-inline > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px; }

dl {
  margin-top: 0;
  margin-bottom: 19px; }

dt,
dd {
  line-height: 1.53846; }

dt {
  font-weight: bold; }

dd {
  margin-left: 0; }

.dl-horizontal dd:before, .dl-horizontal dd:after {
  content: " ";
  display: table; }
.dl-horizontal dd:after {
  clear: both; }
@media (min-width: 768px) {
  .dl-horizontal dt {
    float: left;
    width: 160px;
    clear: left;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
  .dl-horizontal dd {
    margin-left: 180px; } }

abbr[title],
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #999999; }

.initialism {
  font-size: 90%;
  text-transform: uppercase; }

blockquote {
  color: #A33F1F;
  padding: 0;
  margin: 19px 0;
  font-size: 18px;
  font-style: italic; }
  blockquote p:last-child,
  blockquote ul:last-child,
  blockquote ol:last-child {
    margin-bottom: 0; }
  blockquote footer,
  blockquote footer a,
  blockquote small,
  blockquote .small {
    display: block;
    font-size: 14px;
    line-height: 1.53846;
    color: #5e6a71;
    margin-top: 5px; }
    blockquote footer:before,
    blockquote footer a:before,
    blockquote small:before,
    blockquote .small:before {
      content: ''; }

.blockquote-reverse,
blockquote.pull-right {
  color: #A33F1F;
  padding: 0;
  text-align: right; }
  .blockquote-reverse footer:before,
  .blockquote-reverse footer a:before,
  .blockquote-reverse small:before,
  .blockquote-reverse .small:before,
  blockquote.pull-right footer:before,
  blockquote.pull-right footer a:before,
  blockquote.pull-right small:before,
  blockquote.pull-right .small:before {
    content: ''; }
  .blockquote-reverse footer:after,
  .blockquote-reverse footer a:after,
  .blockquote-reverse small:after,
  .blockquote-reverse .small:after,
  blockquote.pull-right footer:after,
  blockquote.pull-right footer a:after,
  blockquote.pull-right small:after,
  blockquote.pull-right .small:after {
    content: ''; }

blockquote:before,
blockquote:after {
  content: ""; }

address {
  margin-bottom: 19px;
  font-style: normal;
  line-height: 1.53846; }

figcaption {
  font-size: 11px;
  line-height: 19px;
  margin-top: 9px;
  color: inherit; }

table {
  max-width: 100%;
  background-color: transparent; }

th {
  text-align: left; }

.table {
  width: 100%;
  margin-bottom: 19px; }
  .table > thead > tr > th,
  .table > thead > tr > td,
  .table > tbody > tr > th,
  .table > tbody > tr > td,
  .table > tfoot > tr > th,
  .table > tfoot > tr > td {
    padding: 8px;
    line-height: 1.53846;
    vertical-align: top;
    border-top: 1px solid #dddddd; }
  .table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #dddddd; }
  .table > caption + thead > tr:first-child > th,
  .table > caption + thead > tr:first-child > td,
  .table > colgroup + thead > tr:first-child > th,
  .table > colgroup + thead > tr:first-child > td,
  .table > thead:first-child > tr:first-child > th,
  .table > thead:first-child > tr:first-child > td {
    border-top: 0; }
  .table > tbody + tbody {
    border-top: 2px solid #dddddd; }
  .table .table {
    background-color: white; }

.table-condensed > thead > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > th,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > th,
.table-condensed > tfoot > tr > td {
  padding: 5px; }

.table-bordered {
  border: 1px solid #dddddd; }
  .table-bordered > thead > tr > th,
  .table-bordered > thead > tr > td,
  .table-bordered > tbody > tr > th,
  .table-bordered > tbody > tr > td,
  .table-bordered > tfoot > tr > th,
  .table-bordered > tfoot > tr > td {
    border: 1px solid #dddddd; }
  .table-bordered > thead > tr > th,
  .table-bordered > thead > tr > td {
    border-bottom-width: 2px; }

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #f9f9f9; }

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background-color: whitesmoke; }

table col[class*="col-"] {
  position: static;
  float: none;
  display: table-column; }

table td[class*="col-"],
table th[class*="col-"] {
  position: static;
  float: none;
  display: table-cell; }

.table > thead > tr > td.active,
.table > thead > tr > th.active, .table > thead > tr.active > td, .table > thead > tr.active > th,
.table > tbody > tr > td.active,
.table > tbody > tr > th.active,
.table > tbody > tr.active > td,
.table > tbody > tr.active > th,
.table > tfoot > tr > td.active,
.table > tfoot > tr > th.active,
.table > tfoot > tr.active > td,
.table > tfoot > tr.active > th {
  background-color: whitesmoke; }

.table-hover > tbody > tr > td.active:hover,
.table-hover > tbody > tr > th.active:hover, .table-hover > tbody > tr.active:hover > td, .table-hover > tbody > tr:hover > .active, .table-hover > tbody > tr.active:hover > th {
  background-color: #e8e8e8; }

.table > thead > tr > td.success,
.table > thead > tr > th.success, .table > thead > tr.success > td, .table > thead > tr.success > th,
.table > tbody > tr > td.success,
.table > tbody > tr > th.success,
.table > tbody > tr.success > td,
.table > tbody > tr.success > th,
.table > tfoot > tr > td.success,
.table > tfoot > tr > th.success,
.table > tfoot > tr.success > td,
.table > tfoot > tr.success > th {
  background-color: #dff0d8; }

.table-hover > tbody > tr > td.success:hover,
.table-hover > tbody > tr > th.success:hover, .table-hover > tbody > tr.success:hover > td, .table-hover > tbody > tr:hover > .success, .table-hover > tbody > tr.success:hover > th {
  background-color: #d0e9c6; }

.table > thead > tr > td.info,
.table > thead > tr > th.info, .table > thead > tr.info > td, .table > thead > tr.info > th,
.table > tbody > tr > td.info,
.table > tbody > tr > th.info,
.table > tbody > tr.info > td,
.table > tbody > tr.info > th,
.table > tfoot > tr > td.info,
.table > tfoot > tr > th.info,
.table > tfoot > tr.info > td,
.table > tfoot > tr.info > th {
  background-color: #d9edf7; }

.table-hover > tbody > tr > td.info:hover,
.table-hover > tbody > tr > th.info:hover, .table-hover > tbody > tr.info:hover > td, .table-hover > tbody > tr:hover > .info, .table-hover > tbody > tr.info:hover > th {
  background-color: #c4e3f3; }

.table > thead > tr > td.warning,
.table > thead > tr > th.warning, .table > thead > tr.warning > td, .table > thead > tr.warning > th,
.table > tbody > tr > td.warning,
.table > tbody > tr > th.warning,
.table > tbody > tr.warning > td,
.table > tbody > tr.warning > th,
.table > tfoot > tr > td.warning,
.table > tfoot > tr > th.warning,
.table > tfoot > tr.warning > td,
.table > tfoot > tr.warning > th {
  background-color: #fcf8e3; }

.table-hover > tbody > tr > td.warning:hover,
.table-hover > tbody > tr > th.warning:hover, .table-hover > tbody > tr.warning:hover > td, .table-hover > tbody > tr:hover > .warning, .table-hover > tbody > tr.warning:hover > th {
  background-color: #faf2cc; }

.table > thead > tr > td.danger,
.table > thead > tr > th.danger, .table > thead > tr.danger > td, .table > thead > tr.danger > th,
.table > tbody > tr > td.danger,
.table > tbody > tr > th.danger,
.table > tbody > tr.danger > td,
.table > tbody > tr.danger > th,
.table > tfoot > tr > td.danger,
.table > tfoot > tr > th.danger,
.table > tfoot > tr.danger > td,
.table > tfoot > tr.danger > th {
  background-color: #f2dede; }

.table-hover > tbody > tr > td.danger:hover,
.table-hover > tbody > tr > th.danger:hover, .table-hover > tbody > tr.danger:hover > td, .table-hover > tbody > tr:hover > .danger, .table-hover > tbody > tr.danger:hover > th {
  background-color: #ebcccc; }

@media screen and (max-width: 767px) {
  .table-responsive {
    width: 100%;
    margin-bottom: 14.25px;
    overflow-y: hidden;
    overflow-x: scroll;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #dddddd;
    -webkit-overflow-scrolling: touch; }
    .table-responsive > .table {
      margin-bottom: 0; }
      .table-responsive > .table > thead > tr > th,
      .table-responsive > .table > thead > tr > td,
      .table-responsive > .table > tbody > tr > th,
      .table-responsive > .table > tbody > tr > td,
      .table-responsive > .table > tfoot > tr > th,
      .table-responsive > .table > tfoot > tr > td {
        white-space: nowrap; }
    .table-responsive > .table-bordered {
      border: 0; }
      .table-responsive > .table-bordered > thead > tr > th:first-child,
      .table-responsive > .table-bordered > thead > tr > td:first-child,
      .table-responsive > .table-bordered > tbody > tr > th:first-child,
      .table-responsive > .table-bordered > tbody > tr > td:first-child,
      .table-responsive > .table-bordered > tfoot > tr > th:first-child,
      .table-responsive > .table-bordered > tfoot > tr > td:first-child {
        border-left: 0; }
      .table-responsive > .table-bordered > thead > tr > th:last-child,
      .table-responsive > .table-bordered > thead > tr > td:last-child,
      .table-responsive > .table-bordered > tbody > tr > th:last-child,
      .table-responsive > .table-bordered > tbody > tr > td:last-child,
      .table-responsive > .table-bordered > tfoot > tr > th:last-child,
      .table-responsive > .table-bordered > tfoot > tr > td:last-child {
        border-right: 0; }
      .table-responsive > .table-bordered > tbody > tr:last-child > th,
      .table-responsive > .table-bordered > tbody > tr:last-child > td,
      .table-responsive > .table-bordered > tfoot > tr:last-child > th,
      .table-responsive > .table-bordered > tfoot > tr:last-child > td {
        border-bottom: 0; } }

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
  min-width: 0; }

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 19px;
  font-size: 19.5px;
  line-height: inherit;
  color: #333333;
  border: 0;
  border-bottom: 1px solid #e5e5e5; }

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: inherit; }

input[type="search"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  line-height: normal; }

input[type="file"] {
  display: block; }

input[type="range"] {
  display: block;
  width: 100%; }

select[multiple],
select[size] {
  height: auto; }

input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }

output {
  display: block;
  padding-top: 7px;
  font-size: 13px;
  line-height: 1.53846;
  color: #555555; }

.form-control {
  display: block;
  width: 100%;
  height: 33px;
  padding: 6px 12px;
  font-size: 13px;
  line-height: 1.53846;
  color: #2f2f2f;
  background-color: white;
  background-image: none;
  border: 1px solid #e2e2e2;
  border-radius: 0;
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; }
  .form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6); }
  .form-control:-ms-input-placeholder {
    color: #999999; }
  .form-control::-webkit-input-placeholder {
    color: #999999; }
  .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    cursor: not-allowed;
    background-color: #eeeeee;
    opacity: 1; }

textarea.form-control {
  height: auto; }

input[type="search"] {
  -webkit-appearance: none; }

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  line-height: 33px;
  line-height: 1.53846 \0; }
  input[type="date"].input-sm,
  input[type="time"].input-sm,
  input[type="datetime-local"].input-sm,
  input[type="month"].input-sm {
    line-height: 30px; }
  input[type="date"].input-lg,
  input[type="time"].input-lg,
  input[type="datetime-local"].input-lg,
  input[type="month"].input-lg {
    line-height: 45px; }

.form-group, .sq-form-question {
  margin-bottom: 15px; }

.radio,
.checkbox {
  display: block;
  min-height: 19px;
  margin-top: 10px;
  margin-bottom: 10px; }
  .radio label,
  .checkbox label {
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: normal;
    cursor: pointer; }

.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  float: left;
  margin-left: -20px; }

.radio + .radio,
.checkbox + .checkbox {
  margin-top: -5px; }

.radio-inline,
.checkbox-inline {
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 0;
  vertical-align: middle;
  font-weight: normal;
  cursor: pointer; }

.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
  margin-top: 0;
  margin-left: 10px; }

input[type="radio"][disabled], fieldset[disabled] input[type="radio"],
input[type="checkbox"][disabled], fieldset[disabled]
input[type="checkbox"],
.radio[disabled], fieldset[disabled]
.radio,
.radio-inline[disabled], fieldset[disabled]
.radio-inline,
.checkbox[disabled], fieldset[disabled]
.checkbox,
.checkbox-inline[disabled], fieldset[disabled]
.checkbox-inline {
  cursor: not-allowed; }

.input-sm {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 0; }

select.input-sm {
  height: 30px;
  line-height: 30px; }

textarea.input-sm,
select[multiple].input-sm {
  height: auto; }

.input-lg {
  height: 45px;
  padding: 10px 16px;
  font-size: 17px;
  line-height: 1.33;
  border-radius: 0; }

select.input-lg {
  height: 45px;
  line-height: 45px; }

textarea.input-lg,
select[multiple].input-lg {
  height: auto; }

.has-feedback {
  position: relative; }
  .has-feedback .form-control {
    padding-right: 41.25px; }

.form-control-feedback {
  position: absolute;
  top: 24px;
  right: 0;
  z-index: 2;
  display: block;
  width: 33px;
  height: 33px;
  line-height: 33px;
  text-align: center; }

.input-lg + .form-control-feedback {
  width: 45px;
  height: 45px;
  line-height: 45px; }

.input-sm + .form-control-feedback {
  width: 30px;
  height: 30px;
  line-height: 30px; }

.has-success .help-block,
.has-success .control-label,
.has-success .radio,
.has-success .checkbox,
.has-success .radio-inline,
.has-success .checkbox-inline {
  color: #3c763d; }
.has-success .form-control {
  border-color: #3c763d;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }
  .has-success .form-control:focus {
    border-color: #2b542c;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168; }
.has-success .input-group-addon {
  color: #3c763d;
  border-color: #3c763d;
  background-color: #dff0d8; }
.has-success .form-control-feedback {
  color: #3c763d; }

.has-warning .help-block,
.has-warning .control-label,
.has-warning .radio,
.has-warning .checkbox,
.has-warning .radio-inline,
.has-warning .checkbox-inline {
  color: #8a6d3b; }
.has-warning .form-control {
  border-color: #8a6d3b;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }
  .has-warning .form-control:focus {
    border-color: #66512c;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b; }
.has-warning .input-group-addon {
  color: #8a6d3b;
  border-color: #8a6d3b;
  background-color: #fcf8e3; }
.has-warning .form-control-feedback {
  color: #8a6d3b; }

.sq-form-question-error .help-block,
.sq-form-question-error .control-label,
.sq-form-question-error .radio,
.sq-form-question-error .checkbox,
.sq-form-question-error .radio-inline,
.sq-form-question-error .checkbox-inline,
.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline {
  color: #a94442; }
.sq-form-question-error .form-control,
.has-error .form-control {
  border-color: #EDBEBD;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }
  .has-error .form-control:focus {
    border-color: #843534;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483; }
.sq-form-question-error .input-group-addon,
.has-error .input-group-addon {
  color: #a94442;
  border-color: #EDBEBD;
  background-color: #f2dede; }
.sq-form-question-error .form-control-feedback,
.has-error .form-control-feedback {
  color: #a94442; }

.has-error .sq-form-question-title,
.sq-form-question-error .sq-form-question-title {
  color: #D73500;
}

.has-feedback label.sr-only ~ .form-control-feedback {
  top: 0; }

.form-control-static {
  margin-bottom: 0; }

.help-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #6f6f6f; }

@media (min-width: 768px) {
  .form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle; }
  .form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle; }
  .form-inline .input-group {
    display: inline-table;
    vertical-align: middle; }
    .form-inline .input-group .input-group-addon,
    .form-inline .input-group .input-group-btn,
    .form-inline .input-group .form-control {
      width: auto; }
  .form-inline .input-group > .form-control {
    width: 100%; }
  .form-inline .control-label {
    margin-bottom: 0;
    vertical-align: middle; }
  .form-inline .radio,
  .form-inline .checkbox {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    vertical-align: middle; }
  .form-inline .radio input[type="radio"],
  .form-inline .checkbox input[type="checkbox"] {
    float: none;
    margin-left: 0; }
  .form-inline .has-feedback .form-control-feedback {
    top: 0; } }

.form-horizontal .radio,
.form-horizontal .checkbox,
.form-horizontal .radio-inline,
.form-horizontal .checkbox-inline {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 7px; }
.form-horizontal .radio,
.form-horizontal .checkbox {
  min-height: 26px; }
.form-horizontal .form-group {
  margin-left: -15px;
  margin-right: -15px; }
  .form-horizontal .form-group:before, .form-horizontal .form-group:after {
    content: " ";
    display: table; }
  .form-horizontal .form-group:after {
    clear: both; }
.form-horizontal .form-control-static {
  padding-top: 7px;
  padding-bottom: 7px; }
@media (min-width: 768px) {
  .form-horizontal .control-label {
    text-align: right;
    margin-bottom: 0;
    padding-top: 7px; } }
.form-horizontal .has-feedback .form-control-feedback {
  top: 0;
  right: 15px; }

@media (-webkit-min-device-pixel-ratio: 0) {
select {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-background-clip: padding;
    background-clip: padding-box;
    -o-border-radius: 0;
    border-radius: 0;
    -webkit-appearance: none;
    background-color: white;
    border: #2f2f2f 1px solid;
    color: #2f2f2f;
    outline: 0;
    margin: 0;
    text-align: left;
    vertical-align: top; }

  select[size],
  select[multiple],
  select[multiple][size] {
    background-image: none;
    padding-right: 3px; }

  select,
  select[size="0"],
  select[size="1"] {
    background-image: url(data:image/png;base64,R0lGODlhDQAEAIAAAAAAAP8A/yH5BAEHAAEALAAAAAANAAQAAAILhA+hG5jMDpxvhgIAOw==);
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 20px; }

  ::-webkit-validation-bubble-message {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #666666), color-stop(1, black));
    border: 0;
    color: white;
    font: 13px/17px "Lucida Grande", Arial, "Liberation Sans", FreeSans, sans-serif;
    overflow: hidden;
    padding: 15px 15px 17px;
    text-shadow: black 0 0 1px;
    min-height: 16px; }

  ::-webkit-validation-bubble-arrow,
  ::-webkit-validation-bubble-top-outer-arrow,
  ::-webkit-validation-bubble-top-inner-arrow {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #666666;
    border-color: #666666; } }
.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear; }
  .fade.in {
    opacity: 1; }

.collapse {
  display: none; }
  .collapse.in {
    display: block; }

tr.collapse.in {
  display: table-row; }

tbody.collapse.in {
  display: table-row-group; }

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.35s ease;
  transition: height 0.35s ease; }

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url("http://www.ga.gov.au/__data/assets/file/0019/16444/glyphicons-halflings-regular.eot");
    src: url(http://www.ga.gov.au/__data/assets/file/0019/16444/glyphicons-halflings-regular.eot?#iefix) format('embedded-opentype'), url(http://www.ga.gov.au/__data/assets/file/0004/16447/glyphicons-halflings-regular.woff) format('woff'), url(http://www.ga.gov.au/__data/assets/file/0003/16446/glyphicons-halflings-regular.ttf) format('truetype'), url(http://www.ga.gov.au/__data/assets/file/0020/16445/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format('svg')
}

.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.glyphicon-asterisk:before {
  content: "\2a";
}
.glyphicon-plus:before {
  content: "\2b";
}
.glyphicon-euro:before {
  content: "\20ac";
}
.glyphicon-minus:before {
  content: "\2212";
}
.glyphicon-cloud:before {
  content: "\2601";
}
.glyphicon-envelope:before {
  content: "\2709";
}
.glyphicon-pencil:before {
  content: "\270f";
}
.glyphicon-glass:before {
  content: "\e001";
}
.glyphicon-music:before {
  content: "\e002";
}
.glyphicon-search:before {
  content: "\e003";
}
.glyphicon-heart:before {
  content: "\e005";
}
.glyphicon-star:before {
  content: "\e006";
}
.glyphicon-star-empty:before {
  content: "\e007";
}
.glyphicon-user:before {
  content: "\e008";
}
.glyphicon-film:before {
  content: "\e009";
}
.glyphicon-th-large:before {
  content: "\e010";
}
.glyphicon-th:before {
  content: "\e011";
}
.glyphicon-th-list:before {
  content: "\e012";
}
.glyphicon-ok:before {
  content: "\e013";
}
.glyphicon-remove:before {
  content: "\e014";
}
.glyphicon-zoom-in:before {
  content: "\e015";
}
.glyphicon-zoom-out:before {
  content: "\e016";
}
.glyphicon-off:before {
  content: "\e017";
}
.glyphicon-signal:before {
  content: "\e018";
}
.glyphicon-cog:before {
  content: "\e019";
}
.glyphicon-trash:before {
  content: "\e020";
}
.glyphicon-home:before {
  content: "\e021";
}
.glyphicon-file:before {
  content: "\e022";
}
.glyphicon-time:before {
  content: "\e023";
}
.glyphicon-road:before {
  content: "\e024";
}
.glyphicon-download-alt:before {
  content: "\e025";
}
.glyphicon-download:before {
  content: "\e026";
}
.glyphicon-upload:before {
  content: "\e027";
}
.glyphicon-inbox:before {
  content: "\e028";
}
.glyphicon-play-circle:before {
  content: "\e029";
}
.glyphicon-repeat:before {
  content: "\e030";
}
.glyphicon-refresh:before {
  content: "\e031";
}
.glyphicon-list-alt:before {
  content: "\e032";
}
.glyphicon-lock:before {
  content: "\e033";
}
.glyphicon-flag:before {
  content: "\e034";
}
.glyphicon-headphones:before {
  content: "\e035";
}
.glyphicon-volume-off:before {
  content: "\e036";
}
.glyphicon-volume-down:before {
  content: "\e037";
}
.glyphicon-volume-up:before {
  content: "\e038";
}
.glyphicon-qrcode:before {
  content: "\e039";
}
.glyphicon-barcode:before {
  content: "\e040";
}
.glyphicon-tag:before {
  content: "\e041";
}
.glyphicon-tags:before {
  content: "\e042";
}
.glyphicon-book:before {
  content: "\e043";
}
.glyphicon-bookmark:before {
  content: "\e044";
}
.glyphicon-print:before {
  content: "\e045";
}
.glyphicon-camera:before {
  content: "\e046";
}
.glyphicon-font:before {
  content: "\e047";
}
.glyphicon-bold:before {
  content: "\e048";
}
.glyphicon-italic:before {
  content: "\e049";
}
.glyphicon-text-height:before {
  content: "\e050";
}
.glyphicon-text-width:before {
  content: "\e051";
}
.glyphicon-align-left:before {
  content: "\e052";
}
.glyphicon-align-center:before {
  content: "\e053";
}
.glyphicon-align-right:before {
  content: "\e054";
}
.glyphicon-align-justify:before {
  content: "\e055";
}
.glyphicon-list:before {
  content: "\e056";
}
.glyphicon-indent-left:before {
  content: "\e057";
}
.glyphicon-indent-right:before {
  content: "\e058";
}
.glyphicon-facetime-video:before {
  content: "\e059";
}
.glyphicon-picture:before {
  content: "\e060";
}
.glyphicon-map-marker:before {
  content: "\e062";
}
.glyphicon-adjust:before {
  content: "\e063";
}
.glyphicon-tint:before {
  content: "\e064";
}
.glyphicon-edit:before {
  content: "\e065";
}
.glyphicon-share:before {
  content: "\e066";
}
.glyphicon-check:before {
  content: "\e067";
}
.glyphicon-move:before {
  content: "\e068";
}
.glyphicon-step-backward:before {
  content: "\e069";
}
.glyphicon-fast-backward:before {
  content: "\e070";
}
.glyphicon-backward:before {
  content: "\e071";
}
.glyphicon-play:before {
  content: "\e072";
}
.glyphicon-pause:before {
  content: "\e073";
}
.glyphicon-stop:before {
  content: "\e074";
}
.glyphicon-forward:before {
  content: "\e075";
}
.glyphicon-fast-forward:before {
  content: "\e076";
}
.glyphicon-step-forward:before {
  content: "\e077";
}
.glyphicon-eject:before {
  content: "\e078";
}
.glyphicon-chevron-left:before {
  content: "\e079";
}
.glyphicon-chevron-right:before {
  content: "\e080";
}
.glyphicon-plus-sign:before {
  content: "\e081";
}
.glyphicon-minus-sign:before {
  content: "\e082";
}
.glyphicon-remove-sign:before {
  content: "\e083";
}
.glyphicon-ok-sign:before {
  content: "\e084";
}
.glyphicon-question-sign:before {
  content: "\e085";
}
.glyphicon-info-sign:before {
  content: "\e086";
}
.glyphicon-screenshot:before {
  content: "\e087";
}
.glyphicon-remove-circle:before {
  content: "\e088";
}
.glyphicon-ok-circle:before {
  content: "\e089";
}
.glyphicon-ban-circle:before {
  content: "\e090";
}
.glyphicon-arrow-left:before {
  content: "\e091";
}
.glyphicon-arrow-right:before {
  content: "\e092";
}
.glyphicon-arrow-up:before {
  content: "\e093";
}
.glyphicon-arrow-down:before {
  content: "\e094";
}
.glyphicon-share-alt:before {
  content: "\e095";
}
.glyphicon-resize-full:before {
  content: "\e096";
}
.glyphicon-resize-small:before {
  content: "\e097";
}
.glyphicon-exclamation-sign:before {
  content: "\e101";
}
.glyphicon-gift:before {
  content: "\e102";
}
.glyphicon-leaf:before {
  content: "\e103";
}
.glyphicon-fire:before {
  content: "\e104";
}
.glyphicon-eye-open:before {
  content: "\e105";
}
.glyphicon-eye-close:before {
  content: "\e106";
}
.glyphicon-warning-sign:before {
  content: "\e107";
}
.glyphicon-plane:before {
  content: "\e108";
}
.glyphicon-calendar:before {
  content: "\e109";
}
.glyphicon-random:before {
  content: "\e110";
}
.glyphicon-comment:before {
  content: "\e111";
}
.glyphicon-magnet:before {
  content: "\e112";
}
.glyphicon-chevron-up:before {
  content: "\e113";
}
.glyphicon-chevron-down:before {
  content: "\e114";
}
.glyphicon-retweet:before {
  content: "\e115";
}
.glyphicon-shopping-cart:before {
  content: "\e116";
}
.glyphicon-folder-close:before {
  content: "\e117";
}
.glyphicon-folder-open:before {
  content: "\e118";
}
.glyphicon-resize-vertical:before {
  content: "\e119";
}
.glyphicon-resize-horizontal:before {
  content: "\e120";
}
.glyphicon-hdd:before {
  content: "\e121";
}
.glyphicon-bullhorn:before {
  content: "\e122";
}
.glyphicon-bell:before {
  content: "\e123";
}
.glyphicon-certificate:before {
  content: "\e124";
}
.glyphicon-thumbs-up:before {
  content: "\e125";
}
.glyphicon-thumbs-down:before {
  content: "\e126";
}
.glyphicon-hand-right:before {
  content: "\e127";
}
.glyphicon-hand-left:before {
  content: "\e128";
}
.glyphicon-hand-up:before {
  content: "\e129";
}
.glyphicon-hand-down:before {
  content: "\e130";
}
.glyphicon-circle-arrow-right:before {
  content: "\e131";
}
.glyphicon-circle-arrow-left:before {
  content: "\e132";
}
.glyphicon-circle-arrow-up:before {
  content: "\e133";
}
.glyphicon-circle-arrow-down:before {
  content: "\e134";
}
.glyphicon-globe:before {
  content: "\e135";
}
.glyphicon-wrench:before {
  content: "\e136";
}
.glyphicon-tasks:before {
  content: "\e137";
}
.glyphicon-filter:before {
  content: "\e138";
}
.glyphicon-briefcase:before {
  content: "\e139";
}
.glyphicon-fullscreen:before {
  content: "\e140";
}
.glyphicon-dashboard:before {
  content: "\e141";
}
.glyphicon-paperclip:before {
  content: "\e142";
}
.glyphicon-heart-empty:before {
  content: "\e143";
}
.glyphicon-link:before {
  content: "\e144";
}
.glyphicon-phone:before {
  content: "\e145";
}
.glyphicon-pushpin:before {
  content: "\e146";
}
.glyphicon-usd:before {
  content: "\e148";
}
.glyphicon-gbp:before {
  content: "\e149";
}
.glyphicon-sort:before {
  content: "\e150";
}
.glyphicon-sort-by-alphabet:before {
  content: "\e151";
}
.glyphicon-sort-by-alphabet-alt:before {
  content: "\e152";
}
.glyphicon-sort-by-order:before {
  content: "\e153";
}
.glyphicon-sort-by-order-alt:before {
  content: "\e154";
}
.glyphicon-sort-by-attributes:before {
  content: "\e155";
}
.glyphicon-sort-by-attributes-alt:before {
  content: "\e156";
}
.glyphicon-unchecked:before {
  content: "\e157";
}
.glyphicon-expand:before {
  content: "\e158";
}
.glyphicon-collapse-down:before {
  content: "\e159";
}
.glyphicon-collapse-up:before {
  content: "\e160";
}
.glyphicon-log-in:before {
  content: "\e161";
}
.glyphicon-flash:before {
  content: "\e162";
}
.glyphicon-log-out:before {
  content: "\e163";
}
.glyphicon-new-window:before {
  content: "\e164";
}
.glyphicon-record:before {
  content: "\e165";
}
.glyphicon-save:before {
  content: "\e166";
}
.glyphicon-open:before {
  content: "\e167";
}
.glyphicon-saved:before {
  content: "\e168";
}
.glyphicon-import:before {
  content: "\e169";
}
.glyphicon-export:before {
  content: "\e170";
}
.glyphicon-send:before {
  content: "\e171";
}
.glyphicon-floppy-disk:before {
  content: "\e172";
}
.glyphicon-floppy-saved:before {
  content: "\e173";
}
.glyphicon-floppy-remove:before {
  content: "\e174";
}
.glyphicon-floppy-save:before {
  content: "\e175";
}
.glyphicon-floppy-open:before {
  content: "\e176";
}
.glyphicon-credit-card:before {
  content: "\e177";
}
.glyphicon-transfer:before {
  content: "\e178";
}
.glyphicon-cutlery:before {
  content: "\e179";
}
.glyphicon-header:before {
  content: "\e180";
}
.glyphicon-compressed:before {
  content: "\e181";
}
.glyphicon-earphone:before {
  content: "\e182";
}
.glyphicon-phone-alt:before {
  content: "\e183";
}
.glyphicon-tower:before {
  content: "\e184";
}
.glyphicon-stats:before {
  content: "\e185";
}
.glyphicon-sd-video:before {
  content: "\e186";
}
.glyphicon-hd-video:before {
  content: "\e187";
}
.glyphicon-subtitles:before {
  content: "\e188";
}
.glyphicon-sound-stereo:before {
  content: "\e189";
}
.glyphicon-sound-dolby:before {
  content: "\e190";
}
.glyphicon-sound-5-1:before {
  content: "\e191";
}
.glyphicon-sound-6-1:before {
  content: "\e192";
}
.glyphicon-sound-7-1:before {
  content: "\e193";
}
.glyphicon-copyright-mark:before {
  content: "\e194";
}
.glyphicon-registration-mark:before {
  content: "\e195";
}
.glyphicon-cloud-download:before {
  content: "\e197";
}
.glyphicon-cloud-upload:before {
  content: "\e198";
}
.glyphicon-tree-conifer:before {
  content: "\e199";
}
.glyphicon-tree-deciduous:before {
  content: "\e200";
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent; }

.dropdown {
  position: relative; }

.dropdown-toggle:focus {
  outline: 0; }

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  /* padding: 5px 0;
  margin: 2px 0 0; */
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 13px;
  text-align: left;
  background-color: #006983;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  width: 100%; }
  .dropdown-menu.pull-right {
    right: 0;
    left: auto; }
  .dropdown-menu .divider {
    height: 1px;
    margin: 8.5px 0;
    overflow: hidden;
    background-color: #e5e5e5; }
  .dropdown-menu > li {
    border-bottom: solid 1px #33879C;
    margin: 0; }
  .dropdown-menu > li a {
    display: block;
    padding: 10px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.53846;
    color: white;
    /*white-space: nowrap;*/ }
  .dropdown-menu > li > ul {
    /* margin-left: 40px; */ }
  .dropdown-menu > li li {
    padding: 0; margin: 0 }
   .dropdown-menu > li ul a {
      padding: 10px 20px 10px 40px;
     }

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  text-decoration: none;
  color: white;
  background-color: #a33f1f; }

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
  color: white;
  text-decoration: none;
  outline: 0;
  background-color: #a33f1f; }

.dropdown-menu > .disabled > a, .dropdown-menu > .disabled > a:hover, .dropdown-menu > .disabled > a:focus {
  color: #999999; }

.dropdown-menu > .disabled > a:hover, .dropdown-menu > .disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  cursor: not-allowed; }

.open > .dropdown-menu {
  display: block; }
.open > a {
  outline: 0; }

.dropdown-menu-right {
  left: auto;
  right: 0; }

.dropdown-menu-left {
  left: 0;
  right: auto; }

.dropdown-header {
  display: block;
  padding: 3px 20px;
  font-size: 12px;
  line-height: 1.53846;
  color: #999999; }

.dropdown-backdrop {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 990; }

.pull-right > .dropdown-menu {
  right: 0;
  left: auto; }

.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
  border-top: 0;
  border-bottom: 4px solid;
  content: ""; }
.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-bottom: 1px; }

@media (min-width: 768px) {
  .navbar-right .dropdown-menu {
    right: 0;
    left: auto; }
  .navbar-right .dropdown-menu-left {
    left: 0;
    right: auto; } }
.nav {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }
  .nav:before, .nav:after {
    content: " ";
    display: table; }
  .nav:after {
    clear: both; }
  .nav > li {
    position: relative;
    display: block; }
    .nav > li > a {
      position: relative;
      display: block;
      padding: 0; }
      .nav > li > a:hover, .nav > li > a:focus {
        text-decoration: none;
        /* background-color: transparent; */ }
    .nav > li.disabled > a {
      color: #999999; }
      .nav > li.disabled > a:hover, .nav > li.disabled > a:focus {
        color: #999999;
        text-decoration: none;
        background-color: transparent;
        cursor: not-allowed; }
  .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: transparent;
    border-color: #006983; }
  .nav .nav-divider {
    height: 1px;
    margin: 8.5px 0;
    overflow: hidden;
    background-color: #e5e5e5; }
  .nav > li > a > img {
    max-width: none; }

.nav-tabs {
  /* background-color: #006983; */
  color: #99c3cd; 
}

.nav-tabs > li {
  background-color: #006983;  
  float: left;
  margin-bottom: -1px; 
}

.nav-tabs > li > a {
  border: 0;   
  color: white;
  display: block;
  line-height: normal;  
}

.nav-tabs > li:hover {
  background-color: #A33F1F;
}

.nav-tabs > li.active a:hover {
  background-color: #EBEBEB;
}

.nav-tabs > li:before {
  content: "" !important; 
}
    
.nav-tabs > li.active {
  background-color: #ebebeb; 
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  border-bottom-color: transparent;
  color: #006983;
  cursor: default; 
}

.nav-pills > li {
  float: left;
  /*
  + li {
    margin-left: 2px;
  }
  */ }
  .nav-pills > li > a {
    border-radius: 0; }
  .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: transparent;
    background-color: transparent; }

.nav-stacked > li {
  float: none; }
  .nav-stacked > li + li {
    margin-top: 2px;
    margin-left: 0; }

.nav-justified, .nav-tabs.nav-justified {
  width: 100%; }
  .nav-justified > li, .nav-tabs.nav-justified > li {
    float: none; }
    .nav-justified > li > a, .nav-tabs.nav-justified > li > a {
      text-align: center;
      margin-bottom: 5px; }
  .nav-justified > .dropdown .dropdown-menu {
    top: auto;
    left: auto; }
  @media (min-width: 768px) {
    .nav-justified > li, .nav-tabs.nav-justified > li {
      display: table-cell;
      width: 1%; }
      .nav-justified > li > a, .nav-tabs.nav-justified > li > a {
        margin-bottom: 0; } }

.nav-tabs-justified, .nav-tabs.nav-justified {
  border-bottom: 0; }
  .nav-tabs-justified > li > a, .nav-tabs.nav-justified > li > a {
    margin-right: 0;
    border-radius: 0; }
  .nav-tabs-justified > .active > a, .nav-tabs.nav-justified > .active > a,
  .nav-tabs-justified > .active > a:hover,
  .nav-tabs.nav-justified > .active > a:hover,
  .nav-tabs-justified > .active > a:focus,
  .nav-tabs.nav-justified > .active > a:focus {
    border: 1px solid #dddddd; }
  @media (min-width: 768px) {
    .nav-tabs-justified > li > a, .nav-tabs.nav-justified > li > a {
      border-bottom: 1px solid #dddddd;
      border-radius: 0 0 0 0; }
    .nav-tabs-justified > .active > a, .nav-tabs.nav-justified > .active > a,
    .nav-tabs-justified > .active > a:hover,
    .nav-tabs.nav-justified > .active > a:hover,
    .nav-tabs-justified > .active > a:focus,
    .nav-tabs.nav-justified > .active > a:focus {
      border-bottom-color: white; } }

.tab-content > .tab-pane {
  display: none; }
.tab-content > .active {
  background-color: #ebebeb;
  display: block;
  padding: 20px; }

.nav-tabs .dropdown-menu {
  margin-top: -1px;
  border-top-right-radius: 0;
  border-top-left-radius: 0; }

.breadcrumb {
  padding: 10px 0 0 !important;
  margin-bottom: 0;
  list-style: none; }
  .breadcrumb > li {
    display: inline-block;
    font-size: 11px; }
    .breadcrumb > li + li:before {
      content: "|\00a0";
      padding: 0 5px;
      color: 6983; }
  .breadcrumb > .active {
    color: #999999; }

.pager {
  padding-left: 0;
  margin: 19px 0;
  list-style: none;
  text-align: center; }
  .pager:before, .pager:after {
    content: " ";
    display: table; }
  .pager:after {
    clear: both; }
  .pager li {
    display: inline;
    margin: 0 2px; }
    .pager li > a,
    .pager li > span {
      display: inline-block;
      padding: 5px 14px;
      background-color: white; }
    .pager li > a:hover,
    .pager li > a:focus {
      text-decoration: none;
      background-color: #006983;
      color: #ffffff; }
  .pager .next > a,
  .pager .next > span {
    float: right; }
  .pager .previous > a,
  .pager .previous > span {
    float: left; }
  .pager .disabled > a,
  .pager .disabled > a:hover,
  .pager .disabled > a:focus,
  .pager .disabled > span {
    color: #999999;
    background-color: white;
    cursor: not-allowed; }

.alert {
  padding: 15px;
  margin-bottom: 19px;
  border: 1px solid transparent;
  border-radius: 0; }
  .alert h4 {
    margin-top: 0;
    color: inherit; }
  .alert .alert-link {
    font-weight: bold; }
  .alert > p,
  .alert > ul {
    margin-bottom: 0; }
  .alert > p + p {
    margin-top: 5px; }

.alert-dismissable {
  padding-right: 35px; }
  .alert-dismissable .close {
    position: relative;
    top: -2px;
    right: -21px;
    color: inherit; }

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d; }
  .alert-success hr {
    border-top-color: #c9e2b3; }
  .alert-success .alert-link {
    color: #2b542c; }

.alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #31708f; }
  .alert-info hr {
    border-top-color: #a6e1ec; }
  .alert-info .alert-link {
    color: #245269; }

.alert-warning {
  background-color: #fcf8e3;
  border-color: #faebcc;
  color: #8a6d3b; }
  .alert-warning hr {
    border-top-color: #f7e1b5; }
  .alert-warning .alert-link {
    color: #66512c; }

.alert-danger {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442; }
  .alert-danger hr {
    border-top-color: #e4b9c0; }
  .alert-danger .alert-link {
    color: #843534; }

.media,
.media-body {
  overflow: hidden;
  zoom: 1; }

.news-feature {
/*  background-color: #efefef;
  border: 1px solid #006983;
*/  padding-bottom: 20px;
  padding-top: 20px;
  padding-right: 20px;
}

.news-feature .img-responsive {
  margin-left: 0px;
}

.media:first-child {
  margin-top: 0; }

.media-object {
  display: block; }

.media-heading {
  margin: 0 0 5px; }

.media > .pull-left {
  margin-right: 20px; }
.media > .pull-right {
  margin-left: 20px; }

.media-list {
  padding-left: 0;
  list-style: none; }

.modal-open {
  overflow: hidden; }

.modal {
  display: none;
  overflow: auto;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0; }
  .modal.fade .modal-dialog {
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    transform: translate(0, -25%);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    transition: transform 0.3s ease-out; }
  .modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0); }

.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px; }

.modal-content {
  position: relative;
  background-color: white;
  border: 1px solid #999999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  outline: 0; }

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: black; }
  .modal-backdrop.fade {
    opacity: 0;
    filter: alpha(opacity=0); }
  .modal-backdrop.in {
    opacity: 0.5;
    filter: alpha(opacity=50); }

.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
  min-height: 16.53846px; }

.modal-header .close {
  margin-top: -2px; }

.modal-title {
  margin: 0;
  line-height: 1.53846; }

.modal-body {
  position: relative;
  padding: 15px; }

.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5; }
  .modal-footer:before, .modal-footer:after {
    content: " ";
    display: table; }
  .modal-footer:after {
    clear: both; }
  .modal-footer .btn + .btn {
    margin-left: 5px;
    margin-bottom: 0; }
  .modal-footer .btn-group .btn + .btn {
    margin-left: -1px; }
  .modal-footer .btn-block + .btn-block {
    margin-left: 0; }

.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll; }

@media (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto; }

  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5); }

  .modal-sm {
    width: 300px; } }
@media (min-width: 992px) {
  .modal-lg {
    width: 900px; } }
.tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  visibility: visible;
  font-size: 12px;
  line-height: 1.4;
  opacity: 0;
  filter: alpha(opacity=0); }
  .tooltip.in {
    opacity: 0.9;
    filter: alpha(opacity=90); }
  .tooltip.top {
    margin-top: -3px;
    padding: 5px 0; }
  .tooltip.right {
    margin-left: 3px;
    padding: 0 5px; }
  .tooltip.bottom {
    margin-top: 3px;
    padding: 5px 0; }
  .tooltip.left {
    margin-left: -3px;
    padding: 0 5px; }

.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: white;
  text-align: center;
  text-decoration: none;
  background-color: black;
  border-radius: 0; }

.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid; }

.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: black; }
.tooltip.top-left .tooltip-arrow {
  bottom: 0;
  left: 5px;
  border-width: 5px 5px 0;
  border-top-color: black; }
.tooltip.top-right .tooltip-arrow {
  bottom: 0;
  right: 5px;
  border-width: 5px 5px 0;
  border-top-color: black; }
.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: black; }
.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: black; }
.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: black; }
.tooltip.bottom-left .tooltip-arrow {
  top: 0;
  left: 5px;
  border-width: 0 5px 5px;
  border-bottom-color: black; }
.tooltip.bottom-right .tooltip-arrow {
  top: 0;
  right: 5px;
  border-width: 0 5px 5px;
  border-bottom-color: black; }

.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1060;
  display: none;
  max-width: 276px;
  padding: 1px;
  text-align: left;
  background-color: white;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  white-space: normal; }
  .popover.top {
    margin-top: -10px; }
  .popover.right {
    margin-left: 10px; }
  .popover.bottom {
    margin-top: 10px; }
  .popover.left {
    margin-left: -10px; }

.popover-title {
  margin: 0;
  padding: 8px 14px;
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  border-radius: -1 -1 0 0; }

.popover-content {
  padding: 9px 14px; }

.popover > .arrow, .popover > .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid; }

.popover > .arrow {
  border-width: 11px; }

.popover > .arrow:after {
  border-width: 10px;
  content: ""; }

.popover.top > .arrow {
  left: 50%;
  margin-left: -11px;
  border-bottom-width: 0;
  border-top-color: #999999;
  border-top-color: rgba(0, 0, 0, 0.25);
  bottom: -11px; }
  .popover.top > .arrow:after {
    content: " ";
    bottom: 1px;
    margin-left: -10px;
    border-bottom-width: 0;
    border-top-color: white; }
.popover.right > .arrow {
  top: 50%;
  left: -11px;
  margin-top: -11px;
  border-left-width: 0;
  border-right-color: #999999;
  border-right-color: rgba(0, 0, 0, 0.25); }
  .popover.right > .arrow:after {
    content: " ";
    left: 1px;
    bottom: -10px;
    border-left-width: 0;
    border-right-color: white; }
.popover.bottom > .arrow {
  left: 50%;
  margin-left: -11px;
  border-top-width: 0;
  border-bottom-color: #999999;
  border-bottom-color: rgba(0, 0, 0, 0.25);
  top: -11px; }
  .popover.bottom > .arrow:after {
    content: " ";
    top: 1px;
    margin-left: -10px;
    border-top-width: 0;
    border-bottom-color: white; }
.popover.left > .arrow {
  top: 50%;
  right: -11px;
  margin-top: -11px;
  border-right-width: 0;
  border-left-color: #999999;
  border-left-color: rgba(0, 0, 0, 0.25); }
  .popover.left > .arrow:after {
    content: " ";
    right: 1px;
    border-right-width: 0;
    border-left-color: white;
    bottom: -10px; }

.carousel {
  position: relative; }

.carousel-inner {
  padding-bottom: 30px;
  background-color: #006983;
  position: relative;
  overflow: hidden;
  width: 100%; }
  .carousel-inner > .item {
    display: none;
    position: relative;
    -webkit-transition: 0.6s ease-in-out left;
    transition: 0.6s ease-in-out left; }
    .carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
      display: block;
      max-width: 100%;
      height: auto;
      line-height: 1; }
  .carousel-inner > .active,
  .carousel-inner > .next,
  .carousel-inner > .prev {
    display: block; }
  .carousel-inner > .active {
    left: 0; }
  .carousel-inner > .next,
  .carousel-inner > .prev {
    position: absolute;
    top: 0;
    width: 100%; }
  .carousel-inner > .next {
    left: 100%; }
  .carousel-inner > .prev {
    left: -100%; }
  .carousel-inner > .next.left,
  .carousel-inner > .prev.right {
    left: 0; }
  .carousel-inner > .active.left {
    left: -100%; }
  .carousel-inner > .active.right {
    left: 100%; }

.carousel-control {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 15%;
  opacity: 0.5;
  filter: alpha(opacity=50);
  font-size: 20px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6); }
  .carousel-control.left {
    background-image: -webkit-linear-gradient(left, color-stop(rgba(0, 0, 0, 0.5) 0%), color-stop(rgba(0, 0, 0, 0.0001) 100%));
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.0001)));
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.0001) 100%);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.0001) 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1); }
  .carousel-control.right {
    left: auto;
    right: 0;
    background-image: -webkit-linear-gradient(left, color-stop(rgba(0, 0, 0, 0.0001) 0%), color-stop(rgba(0, 0, 0, 0.5) 100%));
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.0001)), to(rgba(0, 0, 0, 0.5)));
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 100%);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1); }
  .carousel-control:hover, .carousel-control:focus {
    outline: 0;
    color: white;
    text-decoration: none;
    opacity: 0.9;
    filter: alpha(opacity=90); }
  .carousel-control .icon-prev,
  .carousel-control .icon-next,
  .carousel-control .glyphicon-chevron-left,
  .carousel-control .glyphicon-chevron-right {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block; }
  .carousel-control .icon-prev,
  .carousel-control .glyphicon-chevron-left {
    left: 50%;
    margin-left: -10px; }
  .carousel-control .icon-next,
  .carousel-control .glyphicon-chevron-right {
    right: 50%;
    margin-right: -10px; }
  .carousel-control .icon-prev,
  .carousel-control .icon-next {
    width: 20px;
    height: 20px;
    margin-top: -10px;
    font-family: serif; }
  .carousel-control .icon-prev:before {
    content: '\2039'; }
  .carousel-control .icon-next:before {
    content: '\203a'; }

.carousel-indicators {
  position: absolute;
  bottom: -5px;
  left: 50%;
  z-index: 15;
  width: 60%;
  margin-left: -30%;
  padding-left: 0;
  list-style: none;
  text-align: center; }
  .carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 10px;
    text-indent: -5000px;
    background-color: #FFF;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    opacity: 0.5; }
  .carousel-indicators .active {
    opacity: 1; }

.carousel-caption {
  font-size: 15px;
  position: relative;
  z-index: 10;
  padding: 20px 0 25px;
  color: #ffffff; }
  .carousel-caption .btn {
    text-shadow: none; }
  .carousel-caption a {
    color: inherit; }

/*

// Scale up controls for tablets and up
@media screen and (min-width: $screen-sm-min) {

  // Scale up the controls a smidge
  .carousel-control {
    .glyphicon-chevron-left,
    .glyphicon-chevron-right,
    .icon-prev,
    .icon-next {
      width: 30px;
      height: 30px;
      margin-top: -15px;
      font-size: 30px;
    }
    .glyphicon-chevron-left,
    .icon-prev {
      margin-left: -15px;
    }
    .glyphicon-chevron-right,
    .icon-next {
      margin-right: -15px;
    }
  }

  // Show and left align the captions
  .carousel-caption {
    left: 20%;
    right: 20%;
    padding-bottom: 30px;
  }

  // Move up the indicators
  .carousel-indicators {
    bottom: 20px;
  }
}

*/
.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }
.clearfix:after {
  clear: both; }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.pull-right {
  float: right !important; }

.pull-left {
  float: left !important; }

.hide {
  display: none !important; }

.show {
  display: block !important; }

.invisible {
  visibility: hidden; }

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

.hidden {
  display: none !important;
  visibility: hidden !important; }

.affix {
  position: fixed; }

/*! PocketGrid 1.1.0
* Copyright 2013 Arnaud Leray
* MIT License
*/
/* Border-box-sizing */
.block-group, .block, .block-group:after, .block:after, .block-group:before, .block:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Clearfix */
.block-group {
  *zoom: 1; }

.block-group:before, .block-group:after {
  display: table;
  content: "";
  line-height: 0; }

.block-group:after {
  clear: both; }

.block-group {
  /* ul/li compatibility */
  list-style-type: none;
  padding: 0;
  margin: 0; }

/* Nested grid */
.block-group > .block-group {
  clear: none;
  float: left;
  margin: 0 !important; }

/* Default block */
.block {
  float: left;
  position: relative;
  width: 100%; }
/*---------------------------*\
  ^MASK OVERLAY
\*---------------------------*/
.mask {
  -webkit-transition: opacity 300ms;
  transition: opacity 300ms;
  background: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  position: fixed;
  opacity: 0;
  z-index: 2;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0; }

.android .mask {
  -webkit-transition: none;
  transition: none; }

.js-nav-active .mask {
  visibility: visible;
  opacity: 1; }

@media screen and (min-width: 40em) {
  .mask {
    display: none !important;
    opacity: 0 !important; } }
/*---------------------------*\
  ^RESPONSIVE NAV (TODO: NEED TO BE MERGED TO MAIN.scss)
\*---------------------------*/
.js #header-main-nav {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  zoom: 1; }

#header-main-nav.opened {
  max-height: 9999px !important; }

.disable-pointer-events {
  pointer-events: none !important; }

#header-main-nav {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }
/*------------------------------------------
  NAV TOGGLE STYLES
---------------------------------------------*/
#header-responsive-menu {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border: 0;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  position: relative;
  overflow: hidden;
  width: auto; }
  #header-responsive-menu:hover {
    color: #ffffff;
    text-decoration: none; }
  #header-responsive-menu .nav-close {
    display: none; }

#header-responsive-menu.active .nav-close {
  display: inline; }
#header-responsive-menu.active .nav-burger {
  display: none; }

/*------------------------------------------------------------------------*\
  ^BEGIN OUR OWN STYLE HERE
\*------------------------------------------------------------------------*/
.container {
  padding: 0 15px; }

#body-content {
  margin-bottom: 10px; }
/*------------------------------------------------------------------------*\
  ^UTILITY
\*------------------------------------------------------------------------*/
.desktop-only {
  display: none !important; }

.mobile-only {
  display: inline !important; }

@font-face {
  font-family: 'ga-fontello';
  src: url('http://www.ga.gov.au/__data/assets/file/0009/20304/fontello.eot?51974295');
  src: url('http://www.ga.gov.au/__data/assets/file/0009/20304/fontello.eot?51974295#iefix') format('embedded-opentype'),
       url('http://www.ga.gov.au/__data/assets/file/0010/20305/fontello.woff?51974295') format('woff'),
       url('http://www.ga.gov.au/__data/assets/file/0008/20303/fontello.ttf?51974295') format('truetype'),
       url('http://www.ga.gov.au/__data/assets/file/0007/20302/fontello.svg?51974295#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*------------------------------------------------------------------------*\
  ^GRID
\*------------------------------------------------------------------------*/
.col-width-auto {
  width: auto; }

.col-1-2 {
  width: 50%; }

.col-1-3 {
  width: 33.3333333333%; }

.col-2-3 {
  width: 66.66667%; }

.col-1-5 {
  width: 20%; }

.col-2-5 {
  width: 40%; }

.col-3-5 {
  width: 60%; }

.col-4-5 {
  width: 80%; }

.col-1-4 {
  width: 25%; }

.col-3-4 {
  width: 75%; }

/*------------------------------------------------------------------------*\
  ^HEADER + FOOTER
\*------------------------------------------------------------------------*/
.header-main {
  position: relative;
  z-index: 2001; }

.header-top {
  display: none; }

/*---------------------------*\
  ^HEADER
\*---------------------------*/
#header-main-logo {
  width: 50%;
  max-width: 200px;
  padding: 10px 15px 10px 20px; }
  #header-main-logo img {
    max-width: 100%;
    width: 150px; }

#header-main-desc {
  font-size: 11px;
  font-weight: 500;
  height: 69px;
  line-height: normal;
  position: relative;
  width: 50%; }
  #header-main-desc span {
    position: absolute;
    bottom: 0px; }
#header-main-desc h1 {
  border: 0;
  font-size: 1em;
  margin: 0;
  padding: 0;
}

#header-main-nav {
  z-index: 999; }
  #header-main-nav .nav-pills {
    background-color: #006983;
    position: absolute; }
    #header-main-nav .nav-pills > li {
      border-bottom: solid 1px #33879c;
      margin: 0;
      width: 100%;
      -webkit-transition: all .2s ease;
      transition: all .2s ease; }
      #header-main-nav .nav-pills > li > a {
        background: transparent url("http://www.ga.gov.au/__data/assets/image/0010/16795/right-arrow.png?v=0.3.3") no-repeat 100% 50%;
        color: #ffffff;
        font-family: Helvetica, Arial, sans-serif;
        font-size: 15px;
        font-weight: 300;
        margin-right: 25px;
        padding: 12px 20px; }
  #header-main-nav .nav-pills li:hover {
    background-color: #a33f1f; }

#header-responsive {
  background-color: #006983;
  border-bottom: solid 2px #ffffff;
  padding: 12px 20px; }
  #header-responsive .nav-close {
    width: 18px; }
  #header-responsive .nav-burger {
    margin-top: 1px;
    width: 20px; }
  #header-responsive .nav-menu-text {
    width: auto;
    padding-left: 10px; }

#header-responsive-search {
  border: 0;
  padding: 0;
  float: right;
  width: auto; }

.mobile-line-container {
  background: transparent url("http://www.ga.gov.au/__data/assets/image/0011/16796/lo.jpg?v=0.3.3") repeat-y 90% 0;
  border-bottom: solid 2px #ffffff;
  height: 20px;
  margin: auto;
  max-width: 960px; }

.no-js #header-main-nav .nav-pills {
  position: relative;
}

.no-js .search {
  position: relative;
}
/*---------------------------*\
  ^DRILLDOWN/MEGAMENU
\*---------------------------*/
.megamenu {
  border-bottom: solid 2px #D8D8D8;
  color: #ffffff;
  left: 0;
  position: relative;
  background-color: #006983;
  padding-bottom: 15px;
  width: 100%;
  z-index: 99; }
  .megamenu .container {
    padding: 0; }
  .megamenu h2 {
    font-size: 15px;
    font-weight: 700;
    margin: 15px 20px; }
  .megamenu h3, .megamenu span.heading {
    font-size: 15px;
    margin: 0; }
  .megamenu p {
    color: #FFFFFF;
    font-size: 13px;
    margin: 0; }
  .megamenu a.block {
    border-bottom: solid 1px #33879c;
    padding: 0 20px 15px;
    margin-top: 15px; }
    .megamenu a.block h3 {
      background: transparent url("http://www.ga.gov.au/__data/assets/image/0010/16795/right-arrow.png?v=0.3.3") no-repeat 100% 0; 
      font-family: Helvetica, Arial, sans-serif; 
      font-weight: 300; }
  .megamenu .subtitle {
    background-color: #333;
    font-size: 15px;
    padding: 15px 20px; }
  .megamenu a, .megamenu h2, .megamenu h3, .megamenu .subtitle, .megamenu span.heading {
    display: block;
    color: #ffffff;
    line-height: 20px; }

.drilldown-container {
  background-color: #006983; }

.drilldown-sub {
  display: none; }

.drilldown-back {
  border-top: solid 1px #33879c;
  border-bottom: solid 1px #33879c; }
  .drilldown-back a {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 1;
    padding: 15px 20px; }
  .drilldown-back a span {
    background: transparent url("http://www.ga.gov.au/__data/assets/image/0007/20122/left-arrow.png?v=0.3.3") no-repeat 0 0; 
    padding-left: 20px; }
/*---------------------------*\
  ^FOOTER
\*---------------------------*/
.footer-apps {
  background-color: #006983;
  color: #E7E7E7;
  padding: 20px 0 40px;
  text-align: center; }
  .footer-apps .apps {
    margin: -10px 0 0 -100px; }
  .footer-apps .app {
    padding: 10px 0 0 100px; }
  .footer-apps img {
    display: block;
    margin: auto; }
  .footer-apps h2 {
    color: inherit;
    margin-bottom: 50px; }
  .footer-apps .app-title {
    font-size: 18px;
    margin-top: 40px;
    margin-bottom: 10px; }
  .footer-apps a {
    color: inherit; }

.footer-global {
  background-color: #2F2F2F;
  color: #e7e7e7;
  font-size: 12px;
  padding: 15px 0; }
  .footer-global h3 {
    color: inherit;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 25px 0 0; }
  .footer-global a {
    color: inherit; }
  .footer-global .nav li, .footer-global p {
    width: 100%;
    padding-top: 15px;
    margin: 0; }

#footer-main-quicklinks,
#footer-main-socialmedia,
#footer-main-address {
  border-bottom: solid 1px #555555;
  padding-bottom: 25px; }

#footer-main-address a {
  text-decoration: underline; }

#footer-bottom-nav a {
  font-size: 11px; }
/*---------------------------*\
  ^SEARCH HOMEPAGE
\*---------------------------*/
.search {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1290; }
  .search .container {
    background-color: #006983;
    max-width: 960px;
    padding-top: 35px;
    padding-bottom: 20px; }
  .search .btn {
    color: #006983;
    min-width: 0;
    max-width: 100%;
    text-align: center; }
    .search .btn img {
      margin-right: 10px;
      margin-bottom: 5px;
      width: 18px; }
  .search .btn:hover, .search .btn:active, .search .btn:focus {
    color: #006983 !important;
  }
  .search .form-control,
  .search .form-control-select,
  .search .btn {
    background-position: 95% center;
    border: 0;
    height: 50px;
    padding: 15px;
    margin-bottom: 25px;
    width: 100%; }

.js .search {
  display: none; }
.js .search.opened {
  display: block;
}
/*---------------------------*\
  ^SEARCH SUBPAGES
\*---------------------------*/
.search-subpage {
  width: 100%;
  z-index: 1290; }
/*------------------------------------------------------------------------*\
  ^BODY
\*------------------------------------------------------------------------*/
#body-content {
  position: relative;
  z-index: 1; }
/*------------------------------------------------------------------------*\
  ^UI (BUTTONS, ICONS, HEADINGS)
\*------------------------------------------------------------------------*/
/*---------------------------*\
  ^BUTTONS
\*---------------------------*/
.btn, .btn-full {
  background-color: #006983;
  color: #ffffff;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 0;
  white-space: nowrap;
  text-align: left;
  line-height: 1;
  padding: 19px 24px;
  min-width: 225px;
  max-width: 300px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .btn:focus, .btn:active:focus, .btn.active:focus, .btn-full:focus, .btn-full:active:focus, .btn-full.active:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }
  .btn:hover, .btn:focus, .btn-full:hover, .btn-full:focus {
    color: white;
    text-decoration: none; }
  .btn:active, .btn.active, .btn-full:active, .btn-full.active {
    outline: 0;
    background-image: none; }
  .btn.disabled, .btn[disabled], fieldset[disabled] .btn, .btn-full.disabled, .btn-full[disabled], fieldset[disabled] .btn-full {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none; }

.btn-default {
  background: #006983 url("http://www.ga.gov.au/__data/assets/image/0010/16795/right-arrow.png?v=0.3.3") no-repeat 90% 50%; }

.btn-default:hover {
  background-color: #A33F1F; }

.btn-full {
  background: #006983 url("http://www.ga.gov.au/__data/assets/image/0010/16795/right-arrow.png?v=0.3.3") no-repeat 90% 50%;
  min-width: 0;
  width: 100%; }

.btn-secondary {
  background: #72c7e7; }

.btn-primary {
  background: #a33f1f; }

/*
// Success appears as green
.btn-success {
  @include button-variant($btn-success-color, $btn-success-bg, $btn-success-border);
}
// Info appears as blue-green
.btn-info {
  @include button-variant($btn-info-color, $btn-info-bg, $btn-info-border);
}
// Warning appears as orange
.btn-warning {
  @include button-variant($btn-warning-color, $btn-warning-bg, $btn-warning-border);
}
// Danger and error appear as red
.btn-danger {
  @include button-variant($btn-danger-color, $btn-danger-bg, $btn-danger-border);
}
*/

.btn-link {
  color: #006983;
  font-weight: normal;
  cursor: pointer;
  border-radius: 0; }
  .btn-link, .btn-link:active, .btn-link[disabled], fieldset[disabled] .btn-link {
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none; }
  .btn-link, .btn-link:hover, .btn-link:focus, .btn-link:active {
    border-color: transparent; }
  .btn-link:hover, .btn-link:focus {
    color: #006983;
    text-decoration: underline;
    background-color: transparent; }
  .btn-link[disabled]:hover, .btn-link[disabled]:focus, fieldset[disabled] .btn-link:hover, fieldset[disabled] .btn-link:focus {
    color: #999999;
    text-decoration: none; }

.btn-lg {
  padding: 10px 16px;
  font-size: 17px;
  line-height: 1.33;
  border-radius: 0; }

.btn-sm {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 0; }

.btn-xs {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 0; }

.btn-block {
  display: block;
  width: 100%;
  padding-left: 0;
  padding-right: 0; }

.btn-block + .btn-block {
  margin-top: 5px; }

input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  width: 100%; }

/*---------------------------*\
  ^ICONS
\*---------------------------*/
.ui-right-arrow {
  background: #006983 url("http://www.ga.gov.au/__data/assets/image/0010/16795/right-arrow.png?v=0.3.3") no-repeat right 50%; }

.ui-left-arrow {
  background: #006983 url("http://www.ga.gov.au/__data/assets/image/0007/20122/left-arrow.png?v=0.3.3") no-repeat 0 50%;
  padding-left: 10px; }

.ui-top-arrow {
  background: #006983 url("http://www.ga.gov.au/__data/assets/image/0003/16797/top-arrow.png?v=0.3.3") no-repeat 90% 50%; }

.ui-bottom-arrow {
  background: #006983 url("http://www.ga.gov.au/__data/assets/image/0004/16798/down-arrow.png?v=0.3.3") no-repeat 90% 50%; }
/*---------------------------*\
  ^HEADINGS
\*---------------------------*/
.subpage h1,
.subpage .h1,
.main-content h1 {
  border-top: solid 2px #006983;
  border-bottom: solid 2px #006983;
  font-size: 32px;
  padding: 15px 0;
  margin-top: 0;
}

.subpage .subtitle {
  color: #5E6A71;
  font-weight: normal;
  font-size: 18px;
  line-height: normal; }
/*------------------------------------------------------------------------*\
^PAGE (TWO COLUMNS LAYOUT)
\*------------------------------------------------------------------------*/
.js .l_tinynav1 {
  display: none; }

/*---------------------------*\
   ^LEFT HANDNAV + CONTENT
 \*---------------------------*/
.two-columns-page-content .block-group {
  margin: -10px 0 0 -10px; }
.two-columns-page-content .block {
  padding: 10px 0 0 10px; }

/*------------------------------------------------------------------------*\
  ^PAGE SPECIFIC
\*------------------------------------------------------------------------*/
/*---------------------------*\
  ^HOME 4 COLUMNS
\*---------------------------*/
.home-features h3 {
  border-top: solid 2px #006983;
  padding-top: 10px;
  margin-top: 0;
  margin-bottom: 10pxl}

.homepage-news-item .media-object {
  height: 95px;
  width: 100px;
  overflow: hidden;
}

.homepage-news-item .homepage-news-item-date {
  color: #777;
  display: block;
  line-height: normal;
}

.home-feature-earthquake .block {
  padding-bottom: 10px;
}
/*---------------------------*\
  ^HOMEPAGE TABS
\*---------------------------*/
.home-tab-features {
  margin-top: 20px;
  margin-bottom: 20px; }
  .home-tab-features > .nav-tabs > li {
    display: table-cell;
    float: none;
    vertical-align: top;
  }
.home-tab-features >.nav-tabs > li > a {
  padding: 15px; }
.home-tab-features .btn {
  font-size: 14px; }
.home-tab-features p.h5 {
  font-weight: 700;
  margin-bottom: 15px;
  margin-top: 15px; }
.home-tab-features .nav-stacked {
  margin-top: 0;
  margin-bottom: 15px; }
  .home-tab-features .nav-stacked li {
    border-bottom: dotted 1px #D8D8D8;
    padding: 10px 0;
    margin: 0; }
.home-tab-features .tab-content .active {
  padding: 0 15px; }

.home-tab-features .pull-left {
  float: none !important;
}
/*---------------------------*\
  ^HOME TAB SPRITES
\*---------------------------*/
.home-tab-features-sprites {
  background-image: url("http://www.ga.gov.au/__data/assets/image/0017/18134/home-tab-sprites.png");
  background-repeat: no-repeat;
  display: block;
  margin-bottom: 5px;
  width: 42px;
  height: 23px;
}

.home-tab-features .home-tab-features-sprites-16838 span {
  background-position: -58px -5px;
}

.home-tab-features .active .home-tab-features-sprites-16838 span  {
  background-position: -6px -5px;
}

.home-tab-features .home-tab-features-sprites-16836 span {
  background-position: -168px -5px;
  width: 30px;
}

.home-tab-features .active .home-tab-features-sprites-16836 span {
  background-position: -116px -5px;
  width: 30px;
}

.home-tab-features .home-tab-features-sprites-16837 span {
  background-position: -265px -5px;
}

.home-tab-features .active .home-tab-features-sprites-16837 span {
  background-position: -213px -5px;
}
/*---------------------------*\
  ^CAROUSEL
\*---------------------------*/
#homepage-carousel .carousel-indicators {
  left: 0;
  margin-left: 0;
  width: 100%;
}
#homepage-carousel .carousel-indicators .carousel-indicators-control {
  border-radius: 3px;
  height: auto !important;
  opacity: 1;
  padding: 4px 12px 3px;
  text-indent: 0;
  width: auto !important;
}
.carousel-caption {
  color: #ffffff; }
  .carousel-caption h2, .carousel-caption .main-title {
    color: #ffffff;
    font-size: 28px;
    font-weight: 400;
    margin-top: 0; }
/*---------------------------*\
  ^SUBPAGES
\*---------------------------*/
.subpage ol {
  padding-left: 17px; }

.subpage .two-columns-page-content ul {
  padding-left: 20px; }
/*---------------------------*\
  ^ARTICLE MEDIA PAGE
\*---------------------------*/
.articles .article {
  margin: 20px 0 0; }

.standard-articles .article > .pull-left {
  float: none !important;
  margin-right: 0; }

.related-information .article .article-title {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500; }

/*---------------------------*\
  ^FLOODS INFORMATION
\*---------------------------*/
#floods-portal > .block-group {
    margin: 0;
}
  #floods-portal > .block-group > .block {
    padding: 20px;
  }
/*------------------------------------------------------------------------*\
  ^MISC
\*------------------------------------------------------------------------*/
.external-link {
  background: transparent url("http://www.ga.gov.au/__data/assets/image/0020/22682/external.png") no-repeat 100% 50%;
  padding-right: 12px;
}
 .external-link:hover,
 .external-link:focus {
   border-bottom: solid 1px #006983;
   text-decoration: none;
 }

.megamenu a:hover.block {
  text-decoration: none;
}

#page-toc {
  margin-bottom: 1em;
} 

.subpage .two-columns-page-content ul ul {
  margin-top: 5px;
}

.two-columns-page-nav a:hover {
  background: #A33F1F;
  color: white;
}

.two-columns-page-nav .child-active {
  background: white;
}

.two-columns-page-nav .child-active > a {
  background: #033246;
}

.clearCentre {
  clear: left;
}

.main-content table  {
  margin-bottom: 1em;;
}

.main-content td, th  {
  padding: 10px;
}

.main-content td  {
  border-bottom: 1px solid #D8D8D8;
  color: #2f2f2f;
}

table tbody tr.even-row {
  background: #efefef;
}

.main-content th  {
  background: #006983;
  color: white;
}

.refine-search-nav {
  padding: 0; 
  margin: 0;
  list-style: none;
}

.refine-search-nav li {
  border-bottom: dotted 1px #D8D8D8;
  padding: 10px 0 10px 20px; 
  margin: 0;
}

.refine-search-nav li a {
  display: block;
  padding: 10px 0; 
}

.refine-search-nav input {
  margin-right: 5px; 
  position: relative;
  top: 2px;
}

.search-refine-head {
  border-bottom: solid 2px #006983;
  padding-bottom: 20px;
  padding-left: 20px;
  margin-bottom: 0;
}

.matrix-sort {
  display: none;
}

.search-results-pagination {
  padding-bottom: 20px; 
}

.search-results-item {
  border-top: 1px solid #EEE;
  padding: 20px 0;
}

.search-results-item h3 {
  padding: 0;
  margin: 0;
  font-size: 16px;
}
.search-results-content {
  margin-top: -20px;
}

.search-results-count {
  font-weight: bold;
  font-size: 16px;
  padding-top: 20px;
}

.landing-page-subtitle {
  font-size: 15px;
  line-height: 20px;
  margin: 0;
  padding: 0;
}

.primary-landing-page-block .landing-page-subtitle {
  margin: 10px 0;
}

.subpage-subheading {
  font-size: 24px;
  margin-bottom: 20px;
  color: #616a71;
  line-height: normal;
}

.section-header {
  border-top: solid 2px #006983; 
  border-bottom: solid 2px #006983;
  font-size: 18px;
  padding: 20px 0;  
}

.secondary-landing-media {
  margin: 15px 0;
}

#page-toc {
  border-top: 1px dotted #d8d8d8;
  border-bottom: 1px dotted #d8d8d8;
  padding: 20px 0;
  display: none;
}

.carousel-caption {
  display: inline-block;
}

#page-toc p {
  font-size: 18px;
}

#page-toc ul {
  margin: 0;
  padding-left: 20px;
}

#page-toc ol li {
  margin-top: 10px;
}

.megamenu .clear-block, .content-grid-scientific .clear-block {
  clear: both;
}

.content-grid-scientific .block {
  height: auto;
}

.news-date {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 12px;
}

.home-tab-features .tab-link a {
  border-bottom: dotted 1px #D8D8D8;
  padding: 10px 0;
  margin: 0;
  display: block;
  position: relative;
}

.home-tab-features .tab-link a span {
  display: block;
  width: 6px;
  height: 10px;
  position: absolute;
  right: 0;
  top: 15px;
  background: url(http://www.ga.gov.au/__data/assets/image/0009/19827/bg-homepage-tab-link.png?v=0.3.3) no-repeat right top;
}

.addthis_toolbox {
  float: right;
  margin: 40px 0 20px;
}

.related-info-wrap {
  border-top: 2px solid #006983;
  margin-top: 50px;
}

.megamenu a p {
  display: none;
}

#left-nav a {
  font-size: 1.154em;
}

#left-nav-toggle {
  background-color: #006983;
  clear: both;
  color: white;
  cursor: pointer;
  display: block;
  font-size: 15px;
  padding: 10px 20px;
  font-weight: normal;
  line-height: 1.53846;
}
  #left-nav-toggle:hover {
    background-color: #A33F1F;
    text-decoration: none;
  }
  #left-nav-toggle:after {
    font-family: "ga-fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
   
    display: inline-block;
    float: right;
    margin-top: 2px;
    text-decoration: inherit;
    text-align: center;
   
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;
    content: '\f107';/* down arrow */
  }

.nav-heading {
  display: none;
}

.home-feature-earthquake {
  height: auto !important;
}

.tab-button {
  display: block;
  margin: 20px 0;
  min-width: 100px;
  padding-right: 40px; 
  white-space: normal;
}

#footer-bottom-logo {
  padding-top: 15px;
}

.two-columns-page-nav .nav-heading a, .two-columns-page-nav .nav-heading a:hover {
  color: black !important;
  background: none !important;
  text-decoration: none !important;
  padding: 0 !important;
}
/*---------------------------*\
  ^MATRIX FORM
\*---------------------------*/
.sq-form-question input.form-control,
.sq-form-question select.form-control {
  height: auto;
  padding: 15px 12px;
}

.sq-form-question .form-control {
  background-color: #EFEFEF;
}
/*---------------------------*\
  ^BEFORE/AFTER ANIMATION
\*---------------------------*/
.beforeafter { position: relative; overflow: hidden; }
.before, .after { position: absolute; top: 0; left: 0; }
.before { border-right: 1px solid #000; box-shadow: 1px 0 20px #222; }
.help {
  color: #ffffff;
  position: absolute;
  top: 20px;
  right: 70px;
  font: bold 20px/1em Helvetica, Arial, sans-serif; color: #FFF; opacity: 0.7; }


#skip-twitter-feed
{ 
position:absolute; 
left:-10000px; 
top:auto; 
width:1px; 
height:1px; 
overflow:hidden;
} 
 
#skip-twitter-feed:focus 
{ 
position:static; 
width:auto; 
height:auto; 
}

#at15s a:focus {outline: thin dotted !important;}

/*------------------------------------------------------------------------*\
  TABS - IN PAGE - BASED ON HOMEPAGE TABS
\*------------------------------------------------------------------------*/


@media (max-width: 760px) {
   #tabs .nav-tabs > li > a {
   height: 50px;
   padding: 5px;
   }

   #tabs .tab-content .tab-pane{
         padding-top:10px;
    }

   #tabs blockquote{
         text-align: center;
         padding-left: 0px;
    }
 }

@media (min-width: 761px) {

 .tab-bump{
       margin-bottom:40px;
 }
  
#tabs blockquote{
     padding-left:12px;
    }
}

#tabs blockquote{
     margin-top:9px;
     color:#006983;
}
