		.sb_container_outer {
    width: 100%;
    z-index: 1290;
    margin: 0 auto;
    position: relative;
    background-color: rgb(0, 105, 131);
}
div.main-wrap {
    margin: 0 auto;
    max-width: 990px;
}
.sb_container_inner {
    margin: 0 auto;
    padding: 20px 0;
    max-width: 960px;
    background-color: rgb(0, 105, 131);
    color: rgb(47, 47, 47);
}
input.q {
    width: 85%;
    min-width: 100px;
    font-size: 18px;
    height: 55px;
    border: none;
}
input.q {
    padding-left: 4px;
}
input.searchbutton {
    -webkit-appearance: button;
    cursor: pointer;
    min-width: 54px;
    width: 12%;
    background-color: #72C7E7;
    color: #006983;
    font-size: 18px;
    font-weight: 500;
    height: 55px;
    padding: 0 8px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 2px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    float: right;
    border: none;
}

/*------------------------------------*\
  OVERRIDES - GLOBAL
\*------------------------------------*/

.input::-ms-clear {
    display: none;
}

/*------------------------------------*\
  MEDIA CALLS - STYLES
\*------------------------------------*/

@media (max-width: 759px) {
.search-input-wrapper {
    width: 100%;
}
input.q {
    width: 100%;
    min-width: 100px;
    font-size: 18px;
    height: 55px;
    border: none;
}
input.searchbutton {
    display: none;
}
.search .container {
    background-color: #006983;
    max-width: 960px;
    padding-top: 20px;
    padding-bottom: 20px;
}
}