 /* Reset
 /* This allows us to completely start from scratch with a more browser-generic base
 /* ---------------------------------------------------------------------------------------------------------------------------- */
	html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, font, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, i, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	}
	body {
	line-height: 1;
	}
	ol, ul {
	list-style: none;
	}
	blockquote, q {
	quotes: none;
	}
	blockquote:before, blockquote:after,
	q:before, q:after {
	content: '';
	content: none;
	}
	
	/* remember to define focus styles! */
	:focus {
	outline: 0;
	}
	
	/* remember to highlight inserts somehow! */
	ins {
	text-decoration: none;
	}
	del {
	text-decoration: line-through;
	}
	
	/* tables still need 'cellspacing="0"' in the markup */
	table {
	border-collapse: collapse;
	border-spacing: 0;
	}

 /* PAGE
 /* ---------------------------------------------------------------------------------------------------------------------------- */
	html {
	float: left;
	width: 100%;
	}
	body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 76%;
	line-height: 1.2;
	margin: 0;
	padding: 0;
	color: #000;
	float: left;
	width: 100%;
	min-width: 800px;
	}

 /* HEADER
 /* ---------------------------------------------------------------------------------------------------------------------------- */
	#header {
	position: relative;
	width: 100%;
	height: 110px;
	background-image: url("../img/background.png");*/
	background-position: left top;
	background-repeat: repeat-x;
	background-color: #000;
	}
	#header.earth-monitoring {
	/*background-image: url("../img/ga-header-image.png");*/
	}
	
	.banner {float: left; left: 225px; position: absolute;}

	#header > div {
	position: relative;
	width: 100%;
	height: 52px;
	}
    #header a.logo {
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	width: 225px;
	height: 110px;
    background-image: url('../img/logo.png');
    background-position: 0px 0px;
    background-repeat: no-repeat;
	text-indent: -1000000px;
    }
	#header h1 {
	position: absolute;
	left: 230px;
	bottom: 0px;
	margin: 0;
	padding: 0;
	font: bold 1.6em/1.4em Helvetica, Arial, Verdana, sans-serif;
	color: #fff;
	background-image: url('../img/topic-title-background.png');
	width: 50%;
	padding-left: 10px;
	}
	
	#logo {
	
	height: 100px;
	display: block;
	text-indent: -9999px;
	overflow: hidden;
	background-repeat: no-repeat;
	background-color: transparent;
	background-image: url("../img/logo.png");
	}

 /* NAVIGATION BAR
 /* ---------------------------------------------------------------------------------------------------------------------------- */
	#header div.banner img{position: absolute; left: 245px; top: 0; background-image: url("../img/ga-header-image.png"); width: 100%; height: 100px; background-repeat: no-repeat;}
	
	#nav {
	
	left: 185px;
	top: 1px;
	clear: right;
	width: auto;
	margin: 0;
	display: inline;
	z-index: 10;
	margin: 0;
	padding: 0;
	list-style: none;
	}
	#nav li {
	display: inline;
	float: left;
	margin: 0;
	padding: 0;
	padding-right: 18px;
	font: normal 1em/1.2 Helvetica, Arial, Verdana, sans-serif;
    background-image: url('../img/ga-header-crumbs.png');
    background-position: right center;
    background-repeat: no-repeat;
	}
	#nav li a {
	float: left;
	display: block;
	margin: 0;
	padding: 3px 5px !important;
	color: #000;
	height: 1%;
	}
	

 /* OPTIONS BAR
 /* ---------------------------------------------------------------------------------------------------------------------------- */
	#header .options {
	position: absolute;
	right: 8px;
	bottom: 3px;
	clear: right;
	width: auto;
	margin: 0;
	display: inline;
	z-index: 10000000000;
	margin: 0;
	padding: 0;
	list-style: none;
	}
	#header .options li {
	display: inline;
	float: left;
	margin: 0;
	padding: 0;
	font: normal 1em/1.2 Helvetica, Arial, Verdana, sans-serif;
	}
	#header .options li a {
	float: left;
	display: block;
	margin: 0;
	padding: 3px 5px !important;
	padding-left: 20px !important;
	color: #fff;
	height: 1%;
	}
	#header .options li.print-friendly a {
    background-image: url('../img/ga-header-print.png');
    background-position: left center;
    background-repeat: no-repeat;
	}
	#header .options li.help a {
    background-image: url('../img/ga.header.help.png');
    background-position: left center;
    background-repeat: no-repeat;
	}

 /* CONTENT AREA
 /* ---------------------------------------------------------------------------------------------------------------------------- */
	#main {width: 100%; *width: 95%; clear: both; padding: 0px; margin: 0px; }
	#content {margin-left: 225px; margin-right: 0px; background: url("../img/main_bkg.gif") no-repeat scroll 0 0 transparent; padding: 15px;}
	#sub_content {width: 600px;}
 
 
 /* FOOTER AREA
 /* ---------------------------------------------------------------------------------------------------------------------------- */
 #footer {
    display: table;
    padding: 15px 0;
    font-size: 0.9em;
    line-height: 1.5;
    color: #666;
    clear: both;
}

 /* Links */
#footer a:link {
    color: #000;
}

#footer a:visited {
    color: #556688;
}

 #footer a:hover, #footer a:active {
    color: #A83D09;
}

 /* Footer Navigation */
 #footer ul {
    float: left;
    border-bottom: 1px solid #A83D09;
    width: 100%;
    position: relative;
}

 #footer ul li {
    display: inline-block;
    float: left;
    margin-bottom: -1px;
    list-style-type: none;
    border-left: 1px solid #A83D09;
    vertial-align: text-bottom;
}

 #footer ul li a:link {
    float: left;
    display: inline-block;
    margin: 0;
    padding: 0 10px 6px 10px;
    line-height: 31px;
}

 #footer ul li a:visited {
    float: left;
    display: inline-block;
    margin: 0;
    padding: 0 10px 6px 10px;
    line-height: 31px;
   /* border-left: 1px solid #556688; */
}

 #footer ul li.first {
    border-left: none;
    padding-left: 15px;
}

 #footer ul li.first a {
    padding-left: 0;
}

 /* Department Link */
 #footer ul li.department {
    float: right !important;
    right:0px;
    position: relative;
    border: 1px solid #A83D09;
    background-color: #fff;
    right: 0;
    top: 10px;
}

#footer .left ul li.first {padding-left: 15px;}

 #footer ul li.department a:link {
    line-height: 1.8;
    display: inline-block;
    margin: 0;
    padding: 0 15px 1px 10px;
    color: #A83D09;
    text-decoration: none;
    background: transparent url('http://sun-web-cmsprod.ga.gov.au:8080/__data/assets/image/0011/164/footer_arrow.gif') no-repeat 100% 50%;
}

 #footer ul li.department a:visited {
    line-height: 1.8;
    display: inline-block;
    margin: 0;
    padding: 0 15px 1px 10px;
    color: #556688;
    text-decoration: none;
    background: transparent url('http://sun-web-cmsprod.ga.gov.au:8080/__data/assets/image/0011/164/footer_arrow.gif') no-repeat 100% 50%;
}

 #footer ul li.department a:hover, #footer ul li.department a:active {
    background: #A83D09 url('http://sun-web-cmsprod.ga.gov.au:8080/__data/assets/image/0012/165/footer_arrow_hover.gif') no-repeat 100% 50%;
    color: #fff;
}

 /* Footnote */
 #footer p.footnote {
    float: left;
    font-size: 0.8em;
    margin: 6px 0 0 0;
    padding-left: 15px;
}


 /* IMAGES
 /* ---------------------------------------------------------------------------------------------------------------------------- */
	img,
	img a {
	border:none;
	display: inline-block;
	padding: 0;
	}
	.img-align-left {
	float:left;
	margin:0 1.0em 1.0em 0;
	}
	.img-align-right {
	float: right;
	margin: 0 0 1.0em 1.0em;
	}
	.img-align-centre {
	float:none;
	display: block;
	margin: 0 auto;
	clear: both;
	}
	.border {
	border: #000 solid 1px;
	}
	.img-caption-right {
	float: right;
	margin: 0 0 1.0em 1.0em;
	padding: 0;
	}
	.img-caption-right p,
	.img-caption-left p,
	.img-caption-centre p,
	.img-caption {
	font-style: italic;
	font-size: 90%;
	padding: 0;
	margin: 0 0 0.8em 0;
	}
	.img-caption-left {
	float: left;
	margin: 0 1.0em 1.0em 0;
	padding: 0;
	width:auto;
	overflow:auto;
	}
	.img-caption-centre {
	text-align: center
	}
	.img-caption-centre img {
	float:none;
	display: block;
	margin: 0 auto;
	}
	.img-gallery li {
	list-style: none;
	display: inline;
	float: left;
	margin: .6em;
	width: 200px;
	} /* The width forces the captions to not exceed the width of the image */
	.img-gallery img {
	width: 200px;
	height: 150px;
	}
	/* Highslide Image Viewer Styles */
	.img-enlarge {
	cursor: url(http://sun-web-cmsprod.ga.gov.au:8080/__data/assets/file/0005/221/zoomin.cur), pointer;
	outline: none;
	}
	.img-enlarge-active-anchor img {
	visibility: hidden;
	}
	.img-enlarge img {
	border: 1px solid #fff;
	}
	.img-enlarge:hover img {
	border: 1px solid #000;
	}
	.img-enlarge-image,
	.border {
	border:  #666 1px solid;
	} /* .border is the class for all image borders */
	.img-enlarge-wrapper {
	background: white;
	}
	.img-enlarge-caption {
	display: none;
	padding: 5px;
	}
	.img-enlarge-loading {
	display: block;
	font-size: 8pt;
	font-weight: bold;
	text-decoration: none;
	padding: 2px;
	border: 1px solid black;
	padding-left: 22px;
	background: #fff url(http://sun-web-cmsprod.ga.gov.au:8080/__data/assets/image/0007/223/loader.white.gif) no-repeat 3px 1px;
	}
	.img-enlarge-move {
	cursor: move;
	}
	.img-enlarge-overlay {
	display: none;
	}
	a.img-enlarge-full-expand {
	background: url(http://sun-web-cmsprod.ga.gov.au:8080/__data/assets/image/0008/224/fullexpand.gif) no-repeat;
	display: block;
	margin: 0 10px 10px 0;
	width: 34px;
	height: 34px;
	}
	.img-enlarge-display-block {
	display: block;
	}
	.img-enlarge-display-none {
	display: none;
	}
	/* Controlbar */
	.controlbar {
	background: url(http://sun-web-cmsprod.ga.gov.au:8080/__data/assets/image/0009/225/controlbar4.gif);
	width: 167px;
	height: 34px;
	}
	.controlbar a {
	display: block;
	float: left;
	height: 27px;
	}
	.controlbar a:hover {
	background-image: url(http://sun-web-cmsprod.ga.gov.au:8080/__data/assets/image/0010/226/controlbar4-hover.gif);
	}
	.controlbar .previous {
	width: 50px;
	}
	.controlbar .next {
	width: 40px;
	background-position: -50px 0;
	}
	.controlbar .img-enlarge-move {
	width: 40px;
	background-position: -90px 0;
	}
	.controlbar .close {
	width: 36px;
	background-position: -130px 0;
	}

 /* IMAGES
 /* ---------------------------------------------------------------------------------------------------------------------------- */
	table {
	margin: 1.0em 0;
	border-spacing:0;
	border-collapse: collapse;
	width: inherit;
	empty-cells: show;
	}
	table caption {
	margin:0;
	padding:0 0 .5em 0;
	text-align: left;
	}
	table,
	table th,
	table td {
	/*border: 1px solid #999*/
	}
	table th {
	text-align:left;
	}
	table th {
	background-color: #ccc;
	color: #000;
	}
	table th,
	table td {
	vertical-align: top;
	padding: 0.4em
	}
	table ul {
	margin-left: 1.6em
	}
	table li {
	padding: 0;
	margin: 0
	}
	.odd {
	background-color:#eee;
	}
	table.tbl-no-border,
	.tbl-no-border th,
	.tbl-no-border td {
	border: none;
	border-collapse: separate;
	}
	/* table.tbl-general-auto-width  { width: none; width: 100px; } */
	.tbl-centred-headings td,
	.tbl-centred-headings th,
	th.tbl-cell-centre-align,
	td.tbl-cell-centre-align {
	text-align:center;
	} /* All table headers centred */
	th.tbl-cell-left-align,
	td.tbl-cell-left-align {
	text-align: left;
	} /* Left aligning a table header */
	th.tbl-cell-right-align,
	td.tbl-cell-right-align {
	text-align: right;
	} /* right aligning a table header */
	th.tbl-cell-normal-heading {
	font-weight: normal;
	} /* table heading in normal font */
	th.tbl-cell-sub-heading {
	font-weight: normal;
	background-color: #eee;
	padding-left: 0.9em;
	}
	/* Style used in the Organisational Structure */
	th.tbl-link-heading a {
	color:#fff;
	}
	th.tbl-link-heading {
	padding: 1.0em;
	}

 /* CONTENT
 /* ---------------------------------------------------------------------------------------------------------------------------- */
	.highlight-text {
	border: #999 solid 0.1em;
	background-color: #eee;
	padding: 0 0.5em;
	margin: 1em 220px 1em 0;
	}
	.border-text {
	border: #999 solid 0.1em;
	padding: 0 0.5em;
	margin: 1em 415px 1em 0;
	}
	.red-text {
	color: #f00;
	}
	.small-text {
	font-size: 85%;
	}
	.date {
	font-size: 85%;
	font-style:italic;
	margin: 0;
	padding: 0;
	}
	.clear {
	clear:left;
	}
	.content-right {
	float:right
	}
	a.glossary-link {
	cursor:help;
	}
	a:link.glossary-link,
	a:active.glossary-link,
	a:focus.glossary-link,
	a:visited.glossary-link {
	background-color:#ffc;
	border-bottom: #000 dotted 1px;
	padding: 0.1em;
	}
	a:hover.glossary-link {
	border-bottom: #000 solid 1px;
	background-color: #fff;
	text-decoration:none;
	}
	a:link,
	a:visited {
	color: #C96229;
	text-decoration: none;
	}
	a:hover,
	a:active {
	color: #dc7f1e;
	text-decoration: underline;
	}
	pre,
	tt,
	kbd,
	code,
	samp {
	font-family: Monaco, "Courier New", Courier, mono;
	font-size: 0.8em;
	line-height: 1.1;
	padding: 5px;
	border: 1px dotted #ddd;
	display: block;
	background-color: #eee;
	}
	acronym,
	abbr,
	dfn {
	font-style: normal;
	}
	acronym[title],
	abbr[title],
	dfn[title] {
	border-bottom: 1px dotted #999;
	cursor: help;
	}
	table {
	margin: 10px 0;
	border-collapse: collapse;
	}
	th,
	td {
	font-size: 0.9em;
	}
	form {
	margin: 0;
	padding: 0;
	}
	select,
	input,
	button,
	textarea {
	font-family: "Lucida Grande", Verdana, sans-serif;
	font-size: 0.9em;
	}
	fieldset {
	border: none;
	margin: 0;
	padding: 0;
	}

/* Basics
/* ---------------------------------------------------------------------------------------- */
 /* Paragraphs and lists */
	p, table, ul, ol, blockquote, address {
    margin: 0px 0px 10px;
    line-height: 120%;
    }
    ul li, ol li {
    /*margin-left: 30px;*/
    }
    ul li {
    list-style-type: disc;
    }
    ol li {
    list-style-type: decimal;
    }
	ul.inline,
	ol.inline {
	display: table;
	list-style: none;
	}
	ul.inline li,
	ol.inline li {
	display: inline;
	}
 /* Super and Sub text */
    sup,
    sub {
    height: 0;
    line-height: 1;
    vertical-align: baseline;
    position: relative;
    font-size: 80% !important;
    }
    sup {
    bottom: 1ex;
    }
    sub {
    top: .5ex;
    }

/* Columns
/* ---------------------------------------------------------------------------------------- */
    h1, h2, h3, h4, h5 {
	font-family: 'Helvetica', 'Arial', 'Verdana', sans-serif;
	clear: none;
	*clear: none;
	line-height: 150%;
	margin-bottom: 5px;
	color: #004C64;
    }
    h1, h1 * {
    font-size: 20px;
	color: #000;
	display: inline-block;
    }
    h2, h2 * {
	font-size: 20px;
	border-bottom: 2px solid #DDD;
	color:#88201F;
   	margin-bottom: 8px;
   	}
    h3, h3 * {
    font-size: 16px;
    }
    h4, h4 * {
    font-size: 14px;
    }
    h5, h5 * {
    font-size: 12px;
	}
	
	p.comments {margin-top: 200px;}
	
/* SidebarL
/* ---------------------------------------------------------------------------------------- */

	#sidebarL {
    float: left;
    width: 225px;
    display: inline;
    /* combat IE6 Doubled float-margin bug */
padding: 0 0 100px 0;
    background: #ffe1a7 url('../img/sidebarL_bkg.gif') repeat-x 0 100%;
    height:100%;
    position:relative;
}


	#sidebarL ul.lev1 {
		text-align: left;
		padding: 0;
		margin: 0;
		background-color: #ffe1a7;
		border-bottom: 1px solid #fff5b9;
	}

	#sidebarL ul.lev1 ul,#sidebarL ul.lev1 li,#sidebarL ul.lev1 li a {
		display: block;
		margin: 0;
		padding: 0;
		font: bold 1em/1.4 Verdana,Arial,Helvetica,sans-serif;
	}

	#sidebarL ul.lev1 ul,#sidebarL ul.lev1 li {
		list-style: none;
	}

	/* Topic Level Links */
	#sidebarL ul.lev1 li.i0 a:link,#sidebarL ul.lev1 li.i0 a:visited {
		display: block;
		margin: 0;
		padding: 5px 10px 5px 20px;
		font: bold 1em/1.4 Verdana, Arial, Helvetica, sans-serif;
		font-weight: bold;
		color: #660000;
		background: #eaa65b url('../img/lev1_home_bkg.gif') no-repeat 6px 50%;
		border-top: 1px solid #F8D297;
		border-bottom: 1px solid #DF8835;
	}

	#sidebarL ul.lev1 li.i2 {
		padding-left:10px;
	}

	#sidebarL ul.lev1 li.i1 a:link,#sidebarL ul.lev1 li.i1 a:visited,#sidebarL ul.lev1 li.i2 a:link,#sidebarL ul.lev1 li.i2 a:visited {
		display: block;
		margin: 0;
		padding: 5px 10px 5px 20px;
		color: #854E3E;
		text-decoration: none;
		height: 1%;
		background: transparent url('../img/lev1_bkg.gif') no-repeat 10px 50%;
		border-top: 1px solid #FFF5B9;
		border-bottom: 1px solid #F8D297;
	}

	/* Start first level nav */
	#sidebarL ul.lev1 li.i1 a.hier:link,#sidebarL ul.lev1 li.i1 a.hier:visited {
		background: #FFF0D3 url('../img/lev1_hilite_bkg.gif') no-repeat 10px 50%;
		color:#000000;
		border-bottom:none;
	}

	#sidebarL ul.lev1 li.i1 a.selected {
		background: #FFF0D3 url('../img/lev1_hilite_bkg.gif') no-repeat 10px 50%;
		color:#88201F;
		border-bottom:none;
	}

	#sidebarL ul.lev1 li.i1 a:hover {
		background-color:#FFE1A7;
		text-decoration:underline;
		color:#000000;
	}

	#sidebarL ul.lev1 li.i1 a.selected:hover {
		background-color:#fff0d3;
	}

	/* End first level nav */
	/* Start second level nav */
	#sidebarL ul.lev1 li.i2 a:link,#sidebarL ul.lev1 li.i2 a:visited {
		border-top:1px solid #F8D7A5;
		border-bottom:none;
	}

	#sidebarL ul.lev1 li.i2 a.hier:link,#sidebarL ul.lev1 li.i2 a.hier:visited {
		font: bold 1em/1.4 Verdana,Arial,Helvetica,sans-serif;
		color:#000000;
	}

	#sidebarL ul.lev1 li.i2 a.selected:link,#sidebarL ul.lev1 li.i2 a.selected:visited {
		font: bold 1em/1.4 Verdana,Arial,Helvetica,sans-serif;
		color:#88201F;
	}

	#sidebarL ul.lev1 li.i2,#sidebarL ul.lev1 li.i2 a:active,#sidebarL ul.lev1 li.i2 a:link,#sidebarL ul.lev1 li.i2 a:visited {
		background-color: #fff0d3;
		font: 1em/1.4 Verdana,Arial,Helvetica,sans-serif;
		color: #000;
	}

	#sidebarL ul.lev1 li.i2 a:hover {
		background-color: #fff0d3;
	}

	#sidebarL ul.lev1 li.i2 ul,#sidebarL ul.lev1 li.i2 ul {
		background-color: #fff0d3;
		padding-left: 10px;
		padding-bottom:5px;
	}

	/* End second level nav */
	/* Start third level nav */
	#sidebarL ul.lev1 li.i3 {
		border-top: none;
	}

	#sidebarL ul.lev1 li.i3 a:link,#sidebarL ul.lev1 li.i3 a:visited {
		display: block;
		margin: 0;
		padding: 2px 10px 2px 20px;
		color: #555;
		text-decoration: none;
		height: 1%;
		background: #fff0d3 url('../img/lev1_bkg.gif') no-repeat 10px 50%;
		font-weight:normal;
		font-size:0.9em;
		border:none;
	}

	#sidebarL ul.lev1 li.i3 a.selected:link,#sidebarL ul.lev1 li.i3 a.selected:visited {
		font-weight:bold;
		color:#88201F;
		background: transparent url('../img/lev1_hilite_bkg.gif') no-repeat 10px 50%;
	}

	#sidebarL ul.lev1 li.i3 a:hover,#sidebarL ul.lev1 li.i3 a:active {
		color: #000;
		text-decoration: underline;
	}

	#sidebarL ul.lev1 li.i3 ul,#sidebarL ul.lev1 li.i3 ul {
		background-color: #fff0d3;
		padding-left: 10px;
		padding-bottom: 5px;
	}


.hidden {
    /* used to hide accessibility items */
position: absolute;
    left: -9999px;
    overflow:hidden;
    height:1px;
    width:1px;
}
